{"openapi":"3.1.0","info":{"title":"ClassHub API","description":"ClassHub 서비스 백엔드 OpenAPI 문서","license":{"name":"MIT","url":"https://opensource.org/licenses/MIT"},"version":"v1.0.0"},"servers":[{"url":"http://local.classhub.dev","description":"Generated server url"}],"security":[{"BearerAuth":[]}],"tags":[{"name":"Auth API","description":"회원 가입/로그인/토큰 관련 API"},{"name":"Student PersonalLesson API","description":"학생별 개별 진도 조회 API"},{"name":"PersonalLesson API","description":"학생 개별 진도 CRUD API"},{"name":"StudentProfile API","description":"학생 프로필 CRUD API"},{"name":"Member API","description":"조교 목록 조회 및 비활성화 API"},{"name":"Student Calendar API","description":"학생별 월간 캘린더 조회 API"},{"name":"Invitation API","description":"초대 생성/목록/취소 API"},{"name":"SharedLesson API","description":"Course 공통 진도 CRUD API"},{"name":"Course Student API","description":"Course별 학생 목록 조회"},{"name":"Course API","description":"반 관리 API"}],"paths":{"/api/v1/student-profiles":{"get":{"tags":["StudentProfile API"],"summary":"학생 프로필 목록","description":"Teacher가 소유한 학생 프로필 목록을 페이징 조회한다.","operationId":"getStudentProfiles","parameters":[{"name":"courseId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"name","in":"query","required":false,"schema":{"type":"string"}},{"name":"active","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPageResponseStudentProfileSummary"}}}}}},"post":{"tags":["StudentProfile API"],"summary":"학생 프로필 생성","description":"Teacher 소유 Course에 학생 프로필을 등록한다.","operationId":"createStudentProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StudentProfileCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataStudentProfileResponse"}}}}}}},"/api/v1/shared-lessons":{"get":{"tags":["SharedLesson API"],"summary":"SharedLesson 목록","description":"Course ID로 공통 진도 목록을 조회한다.","operationId":"getSharedLessons","parameters":[{"name":"courseId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"from","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"to","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPageResponseSharedLessonSummary"}}}}}},"post":{"tags":["SharedLesson API"],"summary":"SharedLesson 생성","description":"Course에 공통 진도를 작성한다.","operationId":"createSharedLesson","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SharedLessonCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataSharedLessonResponse"}}}}}}},"/api/v1/personal-lessons":{"get":{"tags":["PersonalLesson API"],"summary":"PersonalLesson 목록","description":"학생 프로필 ID로 개별 진도 목록을 조회한다.","operationId":"getPersonalLessons","parameters":[{"name":"studentProfileId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"from","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"to","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPageResponsePersonalLessonSummary"}}}}}},"post":{"tags":["PersonalLesson API"],"summary":"PersonalLesson 생성","description":"학생 프로필에 개별 진도를 작성한다.","operationId":"createPersonalLesson","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonalLessonCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPersonalLessonResponse"}}}}}}},"/api/v1/invitations/student":{"get":{"tags":["Invitation API"],"summary":"학생 초대 목록","description":"Teacher/Assistant가 생성한 Student 초대 목록을 조회한다.","operationId":"listStudentInvitations","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["PENDING","ACCEPTED","REVOKED","EXPIRED"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataListInvitationResponse"}}}}}},"post":{"tags":["Invitation API"],"summary":"학생 일괄 초대 생성","description":"Teacher/Assistant가 여러 StudentProfile에 대해 일괄로 Student 초대를 생성한다.","operationId":"createStudentInvitation","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StudentInvitationCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataListInvitationResponse"}}}}}}},"/api/v1/invitations/assistant":{"get":{"tags":["Invitation API"],"summary":"조교 초대 목록","description":"Teacher가 생성한 Assistant 초대 목록을 조회한다.","operationId":"listAssistantInvitations","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["PENDING","ACCEPTED","REVOKED","EXPIRED"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataListInvitationResponse"}}}}}},"post":{"tags":["Invitation API"],"summary":"조교 초대 생성","description":"Teacher가 Assistant 초대를 생성한다.","operationId":"createAssistantInvitation","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssistantInvitationCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataInvitationResponse"}}}}}}},"/api/v1/invitations/assistant/link":{"post":{"tags":["Invitation API"],"summary":"조교 초대 링크 생성/회전","description":"Teacher가 공용 조교 초대 링크를 생성한다. 기존 PENDING 조교 초대는 자동으로 REVOKED된다.","operationId":"createAssistantLink","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataInvitationResponse"}}}}}}},"/api/v1/courses":{"get":{"tags":["Course API"],"summary":"반 목록 조회","description":"로그인한 Teacher의 반 목록을 조회한다. isActive 파라미터로 필터링 가능.","operationId":"getCourses","parameters":[{"name":"isActive","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataListCourseResponse"}}}}}},"post":{"tags":["Course API"],"summary":"반 생성","description":"새로운 반을 생성한다.","operationId":"createCourse","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataCourseResponse"}}}}}}},"/api/v1/auth/register/teacher":{"post":{"tags":["Auth API"],"summary":"Teacher 회원가입","description":"Teacher 계정을 등록한다.","operationId":"registerTeacher","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeacherRegisterRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataTeacherRegisterResponse"}}}}}}},"/api/v1/auth/register/invited":{"post":{"tags":["Auth API"],"summary":"초대 기반 회원가입","description":"초대 코드를 통한 회원가입을 처리한다.","operationId":"registerInvited","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvitationRegisterRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataLoginResponse"}}}}}}},"/api/v1/auth/refresh":{"post":{"tags":["Auth API"],"summary":"토큰 재발급","description":"Refresh 토큰으로 Access 토큰을 재발급한다.","operationId":"refresh","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataLoginResponse"}}}}}}},"/api/v1/auth/logout":{"post":{"tags":["Auth API"],"summary":"로그아웃","description":"갱신 토큰을 만료 처리한다.","operationId":"logout","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogoutRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataVoid"}}}}}}},"/api/v1/auth/login":{"post":{"tags":["Auth API"],"summary":"로그인","description":"이메일/비밀번호로 Access/Refresh 토큰을 발급한다.","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataLoginResponse"}}}}}}},"/api/v1/auth/invitations/verify":{"post":{"tags":["Auth API"],"summary":"초대 코드 검증","description":"초대 코드 유효성을 확인한다.","operationId":"verifyInvitation","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvitationVerifyRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataInvitationVerifyResponse"}}}}}}},"/api/v1/student-profiles/{profileId}":{"get":{"tags":["StudentProfile API"],"summary":"학생 프로필 상세 조회","description":"프로필 ID로 학생 정보를 조회한다.","operationId":"getStudentProfile","parameters":[{"name":"profileId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataStudentProfileResponse"}}}}}},"delete":{"tags":["StudentProfile API"],"summary":"학생 프로필 비활성화","description":"학생 프로필을 비활성 상태로 변경한다.","operationId":"deleteStudentProfile","parameters":[{"name":"profileId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataVoid"}}}}}},"patch":{"tags":["StudentProfile API"],"summary":"학생 프로필 수정","description":"학생 정보 및 담당 조교, 연락처 등을 수정한다.","operationId":"updateStudentProfile","parameters":[{"name":"profileId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StudentProfileUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataStudentProfileResponse"}}}}}}},"/api/v1/student-profiles/{profileId}/activate":{"patch":{"tags":["StudentProfile API"],"summary":"학생 프로필 활성화","description":"비활성 학생 프로필을 활성 상태로 변경한다.","operationId":"activateStudentProfile","parameters":[{"name":"profileId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataVoid"}}}}}}},"/api/v1/shared-lessons/{lessonId}":{"get":{"tags":["SharedLesson API"],"summary":"SharedLesson 상세","description":"공통 진도 상세를 조회한다.","operationId":"getSharedLesson","parameters":[{"name":"lessonId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataSharedLessonResponse"}}}}}},"delete":{"tags":["SharedLesson API"],"summary":"SharedLesson 삭제","description":"공통 진도를 삭제한다.","operationId":"deleteSharedLesson","parameters":[{"name":"lessonId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataVoid"}}}}}},"patch":{"tags":["SharedLesson API"],"summary":"SharedLesson 수정","description":"공통 진도의 날짜/제목/내용을 수정한다.","operationId":"updateSharedLesson","parameters":[{"name":"lessonId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SharedLessonUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataSharedLessonResponse"}}}}}}},"/api/v1/personal-lessons/{lessonId}":{"get":{"tags":["PersonalLesson API"],"summary":"PersonalLesson 상세","description":"개별 진도 상세 내용을 조회한다.","operationId":"getPersonalLesson","parameters":[{"name":"lessonId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPersonalLessonResponse"}}}}}},"delete":{"tags":["PersonalLesson API"],"summary":"PersonalLesson 삭제","description":"개별 진도를 삭제한다.","operationId":"deletePersonalLesson","parameters":[{"name":"lessonId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataVoid"}}}}}},"patch":{"tags":["PersonalLesson API"],"summary":"PersonalLesson 수정","description":"개별 진도의 날짜 및 내용을 수정한다.","operationId":"updatePersonalLesson","parameters":[{"name":"lessonId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonalLessonUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPersonalLessonResponse"}}}}}}},"/api/v1/members/{memberId}/deactivate":{"patch":{"tags":["Member API"],"summary":"조교 비활성화","description":"Teacher가 소속 조교를 비활성화한다.","operationId":"deactivateAssistant","parameters":[{"name":"memberId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataVoid"}}}}}}},"/api/v1/members/{memberId}/activate":{"patch":{"tags":["Member API"],"summary":"조교 활성화","description":"Teacher가 소속 조교를 활성 상태로 변경한다.","operationId":"activateAssistant","parameters":[{"name":"memberId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataVoid"}}}}}}},"/api/v1/courses/{courseId}":{"get":{"tags":["Course API"],"summary":"반 상세 조회","description":"특정 반의 상세 정보를 조회한다.","operationId":"getCourse","parameters":[{"name":"courseId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataCourseResponse"}}}}}},"patch":{"tags":["Course API"],"summary":"반 수정","description":"반 정보를 수정한다.","operationId":"updateCourse","parameters":[{"name":"courseId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataCourseResponse"}}}}}}},"/api/v1/courses/{courseId}/deactivate":{"patch":{"tags":["Course API"],"summary":"반 비활성화","description":"반을 비활성화한다.","operationId":"deactivateCourse","parameters":[{"name":"courseId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataObject"}}}}}}},"/api/v1/courses/{courseId}/activate":{"patch":{"tags":["Course API"],"summary":"반 활성화","description":"비활성화된 반을 다시 활성화한다.","operationId":"activateCourse","parameters":[{"name":"courseId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataObject"}}}}}}},"/api/v1/students/{studentId}/calendar":{"get":{"tags":["Student Calendar API"],"summary":"학생 캘린더 조회","description":"SharedLesson과 PersonalLesson을 통합한 학생 월간 캘린더를 조회한다.","operationId":"getStudentCalendar","parameters":[{"name":"studentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"year","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"month","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataStudentCalendarResponse"}}}}}}},"/api/v1/student-profiles/{profileId}/personal-lessons":{"get":{"tags":["Student PersonalLesson API"],"summary":"학생별 PersonalLesson 목록","description":"특정 학생 프로필에 대한 개별 진도를 조회한다.","operationId":"getLessonsByProfile","parameters":[{"name":"profileId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"from","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"to","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPageResponsePersonalLessonSummary"}}}}}}},"/api/v1/members":{"get":{"tags":["Member API"],"summary":"멤버 목록 조회 (조교 전용)","description":"Teacher가 소속 조교 목록을 조회한다.","operationId":"getAssistants","parameters":[{"name":"role","in":"query","required":true,"schema":{"type":"string"}},{"name":"name","in":"query","required":false,"schema":{"type":"string"}},{"name":"active","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPageResponseMemberSummary"}}}}}}},"/api/v1/invitations/student/candidates":{"get":{"tags":["Invitation API"],"summary":"학생 초대 후보 조회","description":"초대되지 않은 StudentProfile 목록을 조회한다 (memberId=null, active=true, PENDING 초대 없음)","operationId":"findStudentCandidates","parameters":[{"name":"name","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataListStudentCandidateResponse"}}}}}}},"/api/v1/courses/{courseId}/students":{"get":{"tags":["Course Student API"],"summary":"Course 학생 목록","description":"Course ID 기준으로 학생 프로필 요약을 조회한다.","operationId":"getStudentsByCourse","parameters":[{"name":"courseId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataListStudentProfileSummary"}}}}}}},"/api/v1/auth/me":{"get":{"tags":["Auth API"],"summary":"현재 로그인한 사용자 정보 조회","description":"Access 토큰 기준으로 현재 사용자의 식별자/역할을 조회한다.","operationId":"me","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataMeResponse"}}}}}}},"/api/v1/invitations/{code}":{"delete":{"tags":["Invitation API"],"summary":"초대 취소","description":"초대 코드 기준으로 초대를 취소한다.","operationId":"revokeInvitation","parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataVoid"}}}}}}}},"components":{"schemas":{"StudentProfileCreateRequest":{"type":"object","properties":{"courseIds":{"type":"array","items":{"type":"string","format":"uuid"},"minItems":1},"name":{"type":"string","maxLength":60,"minLength":0},"phoneNumber":{"type":"string","maxLength":40,"minLength":0},"assistantId":{"type":"string","format":"uuid"},"parentPhone":{"type":"string","minLength":1,"pattern":"^[0-9\\-]{7,20}$"},"schoolName":{"type":"string","maxLength":60,"minLength":0},"grade":{"type":"string","maxLength":20,"minLength":0},"age":{"type":"integer","format":"int32"},"defaultClinicSlotId":{"type":"string","format":"uuid"}},"required":["age","courseIds","grade","name","parentPhone","phoneNumber","schoolName"]},"EnrolledCourseInfo":{"type":"object","properties":{"courseId":{"type":"string","format":"uuid"},"courseName":{"type":"string"},"enrolledAt":{"type":"string","format":"date-time"}}},"RsDataStudentProfileResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/StudentProfileResponse"}}},"StudentProfileResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"teacherId":{"type":"string","format":"uuid"},"assistantId":{"type":"string","format":"uuid"},"memberId":{"type":"string","format":"uuid"},"name":{"type":"string"},"phoneNumber":{"type":"string"},"parentPhone":{"type":"string"},"schoolName":{"type":"string"},"grade":{"type":"string"},"defaultClinicSlotId":{"type":"string","format":"uuid"},"age":{"type":"integer","format":"int32"},"active":{"type":"boolean"},"enrolledCourses":{"type":"array","items":{"$ref":"#/components/schemas/EnrolledCourseInfo"}},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"SharedLessonCreateRequest":{"type":"object","properties":{"courseId":{"type":"string","format":"uuid"},"date":{"type":"string","format":"date"},"title":{"type":"string","maxLength":100,"minLength":0},"content":{"type":"string","maxLength":4000,"minLength":0}},"required":["content","courseId","title"]},"RsDataSharedLessonResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/SharedLessonResponse"}}},"SharedLessonResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"courseId":{"type":"string","format":"uuid"},"writerId":{"type":"string","format":"uuid"},"date":{"type":"string","format":"date"},"title":{"type":"string"},"content":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"PersonalLessonCreateRequest":{"type":"object","properties":{"studentProfileId":{"type":"string","format":"uuid"},"date":{"type":"string","format":"date"},"title":{"type":"string","maxLength":100,"minLength":0},"content":{"type":"string","maxLength":2000,"minLength":0}},"required":["content","date","studentProfileId","title"]},"PersonalLessonResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"studentProfileId":{"type":"string","format":"uuid"},"teacherId":{"type":"string","format":"uuid"},"writerId":{"type":"string","format":"uuid"},"date":{"type":"string","format":"date"},"title":{"type":"string"},"content":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"RsDataPersonalLessonResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PersonalLessonResponse"}}},"StudentInvitationCreateRequest":{"type":"object","properties":{"studentProfileIds":{"type":"array","items":{"type":"string","format":"uuid"},"minItems":1}},"required":["studentProfileIds"]},"InvitationResponse":{"type":"object","properties":{"code":{"type":"string"},"targetEmail":{"type":"string"},"inviteeRole":{"type":"string","enum":["ASSISTANT","STUDENT"]},"status":{"type":"string","enum":["PENDING","ACCEPTED","REVOKED","EXPIRED"]},"expiredAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"studentProfileId":{"type":"string"},"studentName":{"type":"string"}}},"RsDataListInvitationResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/InvitationResponse"}}}},"AssistantInvitationCreateRequest":{"type":"object","properties":{"targetEmail":{"type":"string","format":"email","maxLength":120,"minLength":0}},"required":["targetEmail"]},"RsDataInvitationResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/InvitationResponse"}}},"CourseCreateRequest":{"type":"object","properties":{"name":{"type":"string","maxLength":100,"minLength":0},"company":{"type":"string","maxLength":100,"minLength":0},"schedules":{"type":"array","items":{"$ref":"#/components/schemas/CourseScheduleRequest"},"minItems":1,"uniqueItems":true}},"required":["company","name","schedules"]},"CourseScheduleRequest":{"type":"object","properties":{"dayOfWeek":{"type":"string","enum":["MONDAY","TUESDAY","WEDNESDAY","THURSDAY","FRIDAY","SATURDAY","SUNDAY"]},"startTime":{"type":"string"},"endTime":{"type":"string"}},"required":["dayOfWeek","endTime","startTime"]},"CourseResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"company":{"type":"string"},"teacherId":{"type":"string","format":"uuid"},"schedules":{"type":"array","items":{"$ref":"#/components/schemas/CourseScheduleResponse"}},"isActive":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"CourseScheduleResponse":{"type":"object","properties":{"dayOfWeek":{"type":"string"},"startTime":{"type":"string"},"endTime":{"type":"string"}}},"RsDataCourseResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/CourseResponse"}}},"TeacherRegisterRequest":{"type":"object","properties":{"email":{"type":"string","format":"email","maxLength":120,"minLength":0},"password":{"type":"string","maxLength":64,"minLength":8,"pattern":"^(?=.*[A-Za-z])(?=.*\\d)(?=.*[!@#$%^&*()_+\\-={}:;\"'`~<>,.?/\\\\|\\[\\]]).{8,64}$"},"name":{"type":"string","maxLength":50,"minLength":1}},"required":["email","name","password"]},"RsDataTeacherRegisterResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/TeacherRegisterResponse"}}},"TeacherRegisterResponse":{"type":"object","properties":{"memberId":{"type":"string","format":"uuid"},"email":{"type":"string"},"authority":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"InvitationRegisterRequest":{"type":"object","properties":{"code":{"type":"string","minLength":1},"email":{"type":"string","format":"email","maxLength":120,"minLength":0},"password":{"type":"string","maxLength":64,"minLength":8,"pattern":"^(?=.*[A-Za-z])(?=.*\\d)(?=.*[!@#$%^&*()_+\\-={}:;\"'`~<>,.?/\\\\|\\[\\]]).{8,64}$"},"name":{"type":"string","maxLength":50,"minLength":1}},"required":["code","email","name","password"]},"LoginResponse":{"type":"object","properties":{"memberId":{"type":"string","format":"uuid"},"accessToken":{"type":"string"},"accessTokenExpiresAt":{"type":"string","format":"date-time"}}},"RsDataLoginResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/LoginResponse"}}},"LogoutRequest":{"type":"object","properties":{"refreshToken":{"type":"string"},"logoutAll":{"type":"boolean"}}},"RsDataVoid":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{}}},"LoginRequest":{"type":"object","properties":{"email":{"type":"string","format":"email","minLength":1},"password":{"type":"string","minLength":1}},"required":["email","password"]},"InvitationVerifyRequest":{"type":"object","properties":{"code":{"type":"string","minLength":1}},"required":["code"]},"InvitationVerifyResponse":{"type":"object","properties":{"inviterId":{"type":"string","format":"uuid"},"inviterName":{"type":"string"},"inviteeRole":{"type":"string"},"expiresAt":{"type":"string","format":"date-time"},"studentProfile":{"$ref":"#/components/schemas/StudentCandidateResponse"}}},"RsDataInvitationVerifyResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/InvitationVerifyResponse"}}},"StudentCandidateResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"phoneNumber":{"type":"string"},"parentPhone":{"type":"string"},"schoolName":{"type":"string"},"grade":{"type":"string"},"age":{"type":"integer","format":"int32"}}},"StudentProfileUpdateRequest":{"type":"object","properties":{"name":{"type":"string","maxLength":60,"minLength":0},"parentPhone":{"type":"string","pattern":"^[0-9\\-]{7,20}$"},"schoolName":{"type":"string","maxLength":60,"minLength":0},"grade":{"type":"string","maxLength":20,"minLength":0},"courseIds":{"type":"array","items":{"type":"string","format":"uuid"}},"assistantId":{"type":"string","format":"uuid"},"phoneNumber":{"type":"string","maxLength":40,"minLength":0},"memberId":{"type":"string","format":"uuid"},"defaultClinicSlotId":{"type":"string","format":"uuid"},"age":{"type":"integer","format":"int32"}}},"SharedLessonUpdateRequest":{"type":"object","properties":{"date":{"type":"string","format":"date"},"title":{"type":"string","maxLength":100,"minLength":1},"content":{"type":"string","maxLength":4000,"minLength":1}}},"PersonalLessonUpdateRequest":{"type":"object","properties":{"date":{"type":"string","format":"date"},"title":{"type":"string","maxLength":100,"minLength":0},"content":{"type":"string","maxLength":2000,"minLength":0}}},"CourseUpdateRequest":{"type":"object","properties":{"name":{"type":"string","maxLength":100,"minLength":0},"company":{"type":"string","maxLength":100,"minLength":0},"schedules":{"type":"array","items":{"$ref":"#/components/schemas/CourseScheduleRequest"},"maxItems":2147483647,"minItems":1,"uniqueItems":true}}},"RsDataObject":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{}}},"CalendarClinicRecordDto":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"clinicSlotId":{"type":"string","format":"uuid"},"date":{"type":"string","format":"date"},"note":{"type":"string"},"writerId":{"type":"string","format":"uuid"},"writerRole":{"type":"string","enum":["TEACHER","ASSISTANT","STUDENT","SUPERADMIN"]},"editable":{"type":"boolean"}}},"CalendarPersonalLessonDto":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"date":{"type":"string","format":"date"},"title":{"type":"string"},"content":{"type":"string"},"writerId":{"type":"string","format":"uuid"},"writerRole":{"type":"string","enum":["TEACHER","ASSISTANT","STUDENT","SUPERADMIN"]},"editable":{"type":"boolean"}}},"CalendarSharedLessonDto":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"courseId":{"type":"string","format":"uuid"},"courseName":{"type":"string"},"date":{"type":"string","format":"date"},"title":{"type":"string"},"content":{"type":"string"},"writerId":{"type":"string","format":"uuid"},"writerRole":{"type":"string","enum":["TEACHER","ASSISTANT","STUDENT","SUPERADMIN"]},"editable":{"type":"boolean"}}},"RsDataStudentCalendarResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/StudentCalendarResponse"}}},"StudentCalendarResponse":{"type":"object","properties":{"schemaVersion":{"type":"integer","format":"int32"},"studentId":{"type":"string","format":"uuid"},"year":{"type":"integer","format":"int32"},"month":{"type":"integer","format":"int32"},"sharedLessons":{"type":"array","items":{"$ref":"#/components/schemas/CalendarSharedLessonDto"}},"personalLessons":{"type":"array","items":{"$ref":"#/components/schemas/CalendarPersonalLessonDto"}},"clinicRecords":{"type":"array","items":{"$ref":"#/components/schemas/CalendarClinicRecordDto"}}}},"Pageable":{"type":"object","properties":{"page":{"type":"integer","format":"int32","minimum":0},"size":{"type":"integer","format":"int32","minimum":1},"sort":{"type":"array","items":{"type":"string"}}}},"PageResponseStudentProfileSummary":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/StudentProfileSummary"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}},"RsDataPageResponseStudentProfileSummary":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageResponseStudentProfileSummary"}}},"StudentProfileSummary":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"courseNames":{"type":"array","items":{"type":"string"}},"name":{"type":"string"},"grade":{"type":"string"},"phoneNumber":{"type":"string"},"assistantId":{"type":"string","format":"uuid"},"assistantName":{"type":"string"},"memberId":{"type":"string","format":"uuid"},"parentPhone":{"type":"string"},"age":{"type":"integer","format":"int32"},"active":{"type":"boolean"}}},"PageResponsePersonalLessonSummary":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/PersonalLessonSummary"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}},"PersonalLessonSummary":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"studentProfileId":{"type":"string","format":"uuid"},"date":{"type":"string","format":"date"},"title":{"type":"string"},"content":{"type":"string"}}},"RsDataPageResponsePersonalLessonSummary":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageResponsePersonalLessonSummary"}}},"PageResponseSharedLessonSummary":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/SharedLessonSummary"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}},"RsDataPageResponseSharedLessonSummary":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageResponseSharedLessonSummary"}}},"SharedLessonSummary":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"courseId":{"type":"string","format":"uuid"},"date":{"type":"string","format":"date"},"title":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"MemberSummary":{"type":"object","properties":{"memberId":{"type":"string","format":"uuid"},"email":{"type":"string"},"name":{"type":"string"},"role":{"type":"string","enum":["TEACHER","ASSISTANT","STUDENT","SUPERADMIN"]},"active":{"type":"boolean"},"teacherId":{"type":"string","format":"uuid"},"createdAt":{"type":"string","format":"date-time"}}},"PageResponseMemberSummary":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/MemberSummary"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}},"RsDataPageResponseMemberSummary":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageResponseMemberSummary"}}},"RsDataListStudentCandidateResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/StudentCandidateResponse"}}}},"RsDataListCourseResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/CourseResponse"}}}},"RsDataListStudentProfileSummary":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/StudentProfileSummary"}}}},"MeResponse":{"type":"object","properties":{"memberId":{"type":"string","format":"uuid"},"email":{"type":"string"},"name":{"type":"string"},"role":{"type":"string","enum":["TEACHER","ASSISTANT","STUDENT","SUPERADMIN"]}}},"RsDataMeResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/MeResponse"}}}},"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}}}