{"openapi":"3.1.0","info":{"title":"ClassHub API","description":"ClassHub 서비스 백엔드 OpenAPI 문서","license":{"name":"MIT","url":"https://opensource.org/licenses/MIT"},"version":"v1.0.0"},"servers":[{"url":"http://local.classhub.dev","description":"Generated server url"}],"security":[{"BearerAuth":[]}],"tags":[{"name":"Auth API","description":"회원 가입/로그인/토큰 관련 API"},{"name":"Member API","description":"회원 등록 및 정보 관련 API"},{"name":"Invitation API","description":"조교 초대 생성/취소 API"},{"name":"Assistant Management API","description":"Teacher 전용 조교/초대 관리 API"}],"paths":{"/api/v1/members/register/teacher":{"post":{"tags":["Member API"],"summary":"선생님 회원가입","description":"Teacher 역할 계정을 생성하고 Access/Refresh 토큰을 발급한다.","operationId":"registerTeacher","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterMemberRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataLoginResponse"}}}}}}},"/api/v1/members/register/student":{"post":{"tags":["Member API"],"summary":"학생 회원가입","description":"Student 역할 계정을 생성하고 StudentInfo까지 함께 저장한다.","operationId":"registerStudent","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterStudentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataLoginResponse"}}}}}}},"/api/v1/members/register/assistant":{"post":{"tags":["Member API"],"summary":"조교 초대 기반 회원가입","description":"초대 코드로 Assistant 계정을 생성한다.","operationId":"registerAssistantByInvitation","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterAssistantByInvitationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataLoginResponse"}}}}}}},"/api/v1/invitations":{"post":{"tags":["Invitation API"],"summary":"조교 초대 생성","description":"Teacher가 조교를 초대할 수 있는 초대 코드를 발급한다.","operationId":"createAssistantInvitation","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssistantInvitationCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataInvitationResponse"}}}}}}},"/api/v1/auth/refresh":{"post":{"tags":["Auth API"],"summary":"토큰 재발급","description":"Refresh 토큰으로 Access 토큰을 재발급한다.","operationId":"refresh","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataLoginResponse"}}}}}}},"/api/v1/auth/logout":{"post":{"tags":["Auth API"],"summary":"로그아웃","description":"갱신 토큰을 만료 처리한다.","operationId":"logout","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogoutRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataVoid"}}}}}}},"/api/v1/auth/login":{"post":{"tags":["Auth API"],"summary":"로그인","description":"이메일/비밀번호로 Access/Refresh 토큰을 발급한다.","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataLoginResponse"}}}}}}},"/api/v1/auth/invitations/verify":{"post":{"tags":["Auth API"],"summary":"초대 코드 검증","description":"초대 코드 유효성을 확인한다.","operationId":"verifyInvitation","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvitationVerifyRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataInvitationVerifyResponse"}}}}}}},"/api/v1/teachers/me/assistants/{assignmentId}":{"patch":{"tags":["Assistant Management API"],"summary":"조교 활성/비활성화","description":"교사가 특정 조교의 접근 권한을 켜거나 끈다.","operationId":"updateAssistantStatus","parameters":[{"name":"assignmentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssistantAssignmentStatusUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataAssistantAssignmentResponse"}}}}}}},"/api/v1/invitations/{code}/revoke":{"patch":{"tags":["Invitation API"],"summary":"조교 초대 취소","description":"Teacher가 아직 사용되지 않은 초대를 취소한다.","operationId":"revokeInvitation","parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataVoid"}}}}}}},"/api/v1/teachers/me/invitations":{"get":{"tags":["Assistant Management API"],"summary":"조교 초대 목록 조회","description":"초대 상태별로 교사가 발행한 조교 초대를 확인한다.","operationId":"getAssistantInvitations","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPageResponseInvitationSummaryResponse"}}}}}}},"/api/v1/teachers/me/assistants":{"get":{"tags":["Assistant Management API"],"summary":"조교 목록 조회","description":"교사가 배정된 조교 목록을 상태별로 확인한다.","operationId":"getAssistants","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string","default":"ACTIVE"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPageResponseAssistantAssignmentResponse"}}}}}}},"/api/v1/auth/me":{"get":{"tags":["Auth API"],"summary":"현재 로그인한 사용자 정보 조회","description":"Access 토큰 기준으로 현재 사용자의 식별자/역할을 조회한다.","operationId":"me","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataMeResponse"}}}}}}}},"components":{"schemas":{"RegisterMemberRequest":{"type":"object","properties":{"email":{"type":"string","format":"email","minLength":1},"password":{"type":"string","maxLength":64,"minLength":8,"pattern":"^(?=.*[A-Za-z])(?=.*\\d)(?=.*[!@#$%^&*()_+\\-={}:;\"'`~<>,.?/\\\\|\\[\\]]).{8,64}$"},"name":{"type":"string","maxLength":60,"minLength":0},"phoneNumber":{"type":"string","maxLength":13,"minLength":10,"pattern":"^[0-9\\-]+$"}},"required":["email","name","password","phoneNumber"]},"LoginResponse":{"type":"object","properties":{"memberId":{"type":"string","format":"uuid"},"accessToken":{"type":"string"},"accessTokenExpiresAt":{"type":"string","format":"date-time"}}},"RsDataLoginResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/LoginResponse"}}},"RegisterStudentRequest":{"type":"object","properties":{"email":{"type":"string","format":"email","minLength":1},"password":{"type":"string","maxLength":64,"minLength":8,"pattern":"^(?=.*[A-Za-z])(?=.*\\d)(?=.*[!@#$%^&*()_+\\-={}:;\"'`~<>,.?/\\\\|\\[\\]]).{8,64}$"},"name":{"type":"string","maxLength":60,"minLength":0},"phoneNumber":{"type":"string","maxLength":13,"minLength":10,"pattern":"^[0-9\\-]+$"},"schoolName":{"type":"string","maxLength":60,"minLength":0},"grade":{"type":"string","enum":["ELEMENTARY_1","ELEMENTARY_2","ELEMENTARY_3","ELEMENTARY_4","ELEMENTARY_5","ELEMENTARY_6","MIDDLE_1","MIDDLE_2","MIDDLE_3","HIGH_1","HIGH_2","HIGH_3","GAP_YEAR"]},"birthDate":{"type":"string","format":"date"},"parentPhone":{"type":"string","maxLength":13,"minLength":10,"pattern":"^[0-9\\-]+$"}},"required":["birthDate","email","grade","name","parentPhone","password","phoneNumber","schoolName"]},"RegisterAssistantByInvitationRequest":{"type":"object","properties":{"email":{"type":"string","format":"email","minLength":1},"password":{"type":"string","maxLength":64,"minLength":8,"pattern":"^(?=.*[A-Za-z])(?=.*\\d)(?=.*[!@#$%^&*()_+\\-={}:;\"'`~<>,.?/\\\\|\\[\\]]).{8,64}$"},"name":{"type":"string","maxLength":60,"minLength":0},"phoneNumber":{"type":"string","maxLength":13,"minLength":10,"pattern":"^[0-9\\-]+$"},"code":{"type":"string","maxLength":64,"minLength":8}},"required":["code","email","name","password","phoneNumber"]},"AssistantInvitationCreateRequest":{"type":"object","properties":{"targetEmail":{"type":"string","format":"email","maxLength":120,"minLength":0},"expiredAt":{"type":"string","format":"date-time"}},"required":["targetEmail"]},"InvitationResponse":{"type":"object","properties":{"code":{"type":"string"},"targetEmail":{"type":"string"},"expiredAt":{"type":"string","format":"date-time"}}},"RsDataInvitationResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/InvitationResponse"}}},"LogoutRequest":{"type":"object","properties":{"refreshToken":{"type":"string"},"logoutAll":{"type":"boolean"}}},"RsDataVoid":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{}}},"LoginRequest":{"type":"object","properties":{"email":{"type":"string","format":"email","minLength":1},"password":{"type":"string","minLength":1}},"required":["email","password"]},"InvitationVerifyRequest":{"type":"object","properties":{"code":{"type":"string","maxLength":64,"minLength":8}},"required":["code"]},"InvitationVerifyResponse":{"type":"object","properties":{"senderId":{"type":"string","format":"uuid"},"senderName":{"type":"string"},"targetEmail":{"type":"string"},"expiredAt":{"type":"string","format":"date-time"}}},"RsDataInvitationVerifyResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/InvitationVerifyResponse"}}},"AssistantAssignmentStatusUpdateRequest":{"type":"object","properties":{"enabled":{"type":"boolean"}},"required":["enabled"]},"AssistantAssignmentResponse":{"type":"object","properties":{"assignmentId":{"type":"string","format":"uuid"},"assistant":{"$ref":"#/components/schemas/AssistantProfile"},"isActive":{"type":"boolean"},"assignedAt":{"type":"string","format":"date-time"},"disabledAt":{"type":"string","format":"date-time"}}},"AssistantProfile":{"type":"object","properties":{"memberId":{"type":"string","format":"uuid"},"name":{"type":"string"},"email":{"type":"string"},"phoneNumber":{"type":"string"}}},"RsDataAssistantAssignmentResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/AssistantAssignmentResponse"}}},"InvitationSummaryResponse":{"type":"object","properties":{"code":{"type":"string"},"targetEmail":{"type":"string"},"status":{"type":"string","enum":["PENDING","ACCEPTED","EXPIRED","REVOKED"]},"expiredAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"PageResponseInvitationSummaryResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/InvitationSummaryResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}},"RsDataPageResponseInvitationSummaryResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageResponseInvitationSummaryResponse"}}},"PageResponseAssistantAssignmentResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/AssistantAssignmentResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}},"RsDataPageResponseAssistantAssignmentResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageResponseAssistantAssignmentResponse"}}},"MeResponse":{"type":"object","properties":{"memberId":{"type":"string","format":"uuid"},"email":{"type":"string"},"name":{"type":"string"},"role":{"type":"string","enum":["TEACHER","ASSISTANT","STUDENT","ADMIN","SUPER_ADMIN"]}}},"RsDataMeResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/MeResponse"}}}},"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}}}