{"openapi":"3.1.0","info":{"title":"ClassHub API","description":"ClassHub 서비스 백엔드 OpenAPI 문서","license":{"name":"MIT","url":"https://opensource.org/licenses/MIT"},"version":"v1.0.0"},"servers":[{"url":"http://local.classhub.dev","description":"Generated server url"}],"security":[{"BearerAuth":[]}],"tags":[{"name":"Personal Progress API","description":"학생 개별 진도 관리 API"},{"name":"ClinicSession API","description":"클리닉 세션 관리 API"},{"name":"Student Clinic Context API","description":"학생 클리닉 컨텍스트 조회 API"},{"name":"Student Course Management API","description":"학생 수업 기록 관리 API"},{"name":"Branch API","description":"지점(Branch) 생성 및 검증 API"},{"name":"Member API","description":"회원 등록 및 정보 관련 API"},{"name":"Teacher Student API","description":"선생님 학생 관리 API"},{"name":"ClinicRecord API","description":"클리닉 기록 관리 API"},{"name":"ClinicAttendance API","description":"클리닉 출석 관리 API"},{"name":"Student Course API","description":"학생 기본 클리닉 슬롯 관리 API"},{"name":"Auth API","description":"회원 가입/로그인/토큰 관련 API"},{"name":"Teacher Student Request API","description":"학생 선생님 요청 API"},{"name":"Student Course Assignment API","description":"학생 반 배치 API"},{"name":"Course Progress API","description":"반 공통 진도 관리 API"},{"name":"Student Calendar API","description":"학생 월간 캘린더 조회 API"},{"name":"Course API (Teacher)","description":"선생님 반 관리 API"},{"name":"Teacher Branch Assignment API","description":"선생님-지점 연결 API"},{"name":"Company API","description":"학원(Company) 등록 및 검증 API"},{"name":"Assistant Management API","description":"Teacher 전용 조교/초대 관리 API"},{"name":"ClinicSlot API","description":"클리닉 슬롯 관리 API"},{"name":"Course Assignment API","description":"반 배치 지원 API"},{"name":"Teacher Search API","description":"학생 선생님 검색 API"}],"paths":{"/api/v1/teachers/me/branches":{"get":{"tags":["Teacher Branch Assignment API"],"summary":"지점 Assignment 목록","description":"선생님이 연결한 지점 목록을 상태별로 조회한다.","operationId":"getAssignments","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string","default":"ACTIVE"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPageResponseTeacherBranchAssignmentResponse"}}}}}},"post":{"tags":["Teacher Branch Assignment API"],"summary":"지점 Assignment 생성","description":"선생님이 특정 지점과의 연결을 생성한다.","operationId":"createAssignment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeacherBranchAssignmentCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataTeacherBranchAssignmentResponse"}}}}}}},"/api/v1/teachers/me/assistants":{"get":{"tags":["Assistant Management API"],"summary":"조교 목록 조회","description":"교사가 배정된 조교 목록을 상태별로 확인한다.","operationId":"getAssistants","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string","default":"ACTIVE"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPageResponseAssistantAssignmentResponse"}}}}}},"post":{"tags":["Assistant Management API"],"summary":"조교 연결","description":"검색된 조교를 교사와 연결한다.","operationId":"assignAssistant","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssistantAssignmentCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataAssistantAssignmentResponse"}}}}}}},"/api/v1/teacher-student-requests":{"get":{"tags":["Teacher Student Request API"],"summary":"학생 선생님 요청 목록 조회","operationId":"getRequests","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["PENDING","APPROVED","REJECTED","CANCELLED"]},"uniqueItems":true}},{"name":"keyword","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPageResponseStudentTeacherRequestResponse"}}}}}},"post":{"tags":["Teacher Student Request API"],"summary":"학생 선생님 요청 생성","operationId":"createRequest","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StudentTeacherRequestCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataStudentTeacherRequestResponse"}}}}}}},"/api/v1/students/me/clinic-attendances":{"get":{"tags":["ClinicAttendance API"],"summary":"학생 클리닉 참석 목록 조회","operationId":"getStudentAttendances","parameters":[{"name":"dateRange","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataStudentClinicAttendanceListResponse"}}}}}},"post":{"tags":["ClinicAttendance API"],"summary":"학생 클리닉 참석 신청","operationId":"requestAttendance","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StudentClinicAttendanceRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataClinicAttendanceResponse"}}}}}},"patch":{"tags":["ClinicAttendance API"],"summary":"학생 클리닉 이동","operationId":"moveAttendance","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClinicAttendanceMoveRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataClinicAttendanceResponse"}}}}}}},"/api/v1/student-courses/{recordId}/personal-progress":{"get":{"tags":["Personal Progress API"],"summary":"개별 진도 목록 조회","operationId":"getPersonalProgresses","parameters":[{"name":"recordId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"cursorCreatedAt","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"cursorId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataProgressSliceResponsePersonalProgressResponse"}}}}}},"post":{"tags":["Personal Progress API"],"summary":"개별 진도 생성","operationId":"createPersonalProgress","parameters":[{"name":"recordId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonalProgressCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPersonalProgressResponse"}}}}}}},"/api/v1/student-course-assignments":{"post":{"tags":["Student Course Assignment API"],"summary":"학생 반 배치 생성","operationId":"createAssignment_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StudentCourseAssignmentCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataStudentCourseAssignmentResponse"}}}}}}},"/api/v1/members/register/teacher":{"post":{"tags":["Member API"],"summary":"선생님 회원가입","description":"Teacher 역할 계정을 생성하고 Access/Refresh 토큰을 발급한다.","operationId":"registerTeacher","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterMemberRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataLoginResponse"}}}}}}},"/api/v1/members/register/student":{"post":{"tags":["Member API"],"summary":"학생 회원가입","description":"Student 역할 계정을 생성하고 StudentInfo까지 함께 저장한다.","operationId":"registerStudent","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterStudentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataLoginResponse"}}}}}}},"/api/v1/members/register/assistant":{"post":{"tags":["Member API"],"summary":"조교 회원가입","description":"조교 역할 계정을 생성하고 Access/Refresh 토큰을 발급한다.","operationId":"registerAssistant","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterMemberRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataLoginResponse"}}}}}}},"/api/v1/courses":{"get":{"tags":["Course API (Teacher)"],"summary":"Course 목록 조회","description":"선생님이 생성한 Course를 목록 뷰로 조회한다.","operationId":"getCourses","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string","default":"ACTIVE"}},{"name":"branchId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"keyword","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPageResponseCourseResponse"}}}}}},"post":{"tags":["Course API (Teacher)"],"summary":"Course 생성","description":"선생님이 Course를 생성한다.","operationId":"createCourse","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataCourseResponse"}}}}}}},"/api/v1/courses/{courseId}/course-progress":{"get":{"tags":["Course Progress API"],"summary":"반 공통 진도 목록 조회","operationId":"getCourseProgresses","parameters":[{"name":"courseId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"cursorCreatedAt","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"cursorId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataProgressSliceResponseCourseProgressResponse"}}}}}},"post":{"tags":["Course Progress API"],"summary":"반 공통 진도 생성","operationId":"createCourseProgress","parameters":[{"name":"courseId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseProgressCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataCourseProgressResponse"}}}}}}},"/api/v1/courses/{courseId}/course-progress/compose":{"post":{"tags":["Course Progress API"],"summary":"공통 진도 + 개인 진도 배치 생성","operationId":"composeCourseProgress","parameters":[{"name":"courseId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseProgressComposeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataCourseProgressResponse"}}}}}}},"/api/v1/companies":{"get":{"tags":["Company API"],"summary":"Teacher 학원 목록 조회","description":"교사가 접근 가능한 학원 목록을 상태/타입/키워드로 필터링해 조회한다.","operationId":"getCompaniesForTeacher","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"type","in":"query","required":false,"schema":{"type":"string"}},{"name":"keyword","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPageResponseCompanyResponse"}}}}}},"post":{"tags":["Company API"],"summary":"학원 생성","description":"Teacher가 INDIVIDUAL 또는 ACADEMY 학원을 등록한다.","operationId":"createCompany","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataCompanyResponse"}}}}}}},"/api/v1/clinic-slots":{"get":{"tags":["ClinicSlot API"],"summary":"클리닉 슬롯 목록 조회","operationId":"getSlots","parameters":[{"name":"branchId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"teacherId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"courseId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataListClinicSlotResponse"}}}}}},"post":{"tags":["ClinicSlot API"],"summary":"클리닉 슬롯 생성","operationId":"createSlot","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClinicSlotCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataClinicSlotResponse"}}}}}}},"/api/v1/clinic-slots/{slotId}/sessions":{"post":{"tags":["ClinicSession API"],"summary":"정규 클리닉 세션 수동 생성","operationId":"createRegularSession","parameters":[{"name":"slotId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClinicSessionRegularCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataClinicSessionResponse"}}}}}}},"/api/v1/clinic-sessions/{sessionId}/attendances":{"post":{"tags":["ClinicAttendance API"],"summary":"클리닉 출석 추가","operationId":"addAttendance","parameters":[{"name":"sessionId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClinicAttendanceCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataClinicAttendanceResponse"}}}}}}},"/api/v1/clinic-sessions/emergency":{"post":{"tags":["ClinicSession API"],"summary":"긴급 클리닉 세션 생성","operationId":"createEmergencySession","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClinicSessionEmergencyCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataClinicSessionResponse"}}}}}}},"/api/v1/clinic-records":{"get":{"tags":["ClinicRecord API"],"summary":"클리닉 기록 조회","operationId":"getRecord","parameters":[{"name":"clinicAttendanceId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataClinicRecordResponse"}}}}}},"post":{"tags":["ClinicRecord API"],"summary":"클리닉 기록 생성","operationId":"createRecord","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClinicRecordCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataClinicRecordResponse"}}}}}}},"/api/v1/branches":{"get":{"tags":["Branch API"],"summary":"지점 목록 조회","description":"Teacher 또는 SuperAdmin이 상태/키워드/회사 기준으로 지점을 조회한다.","operationId":"getBranches","parameters":[{"name":"companyId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"keyword","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPageResponseBranchResponse"}}}}}},"post":{"tags":["Branch API"],"summary":"지점 생성","description":"Teacher가 기존 학원에 새로운 지점을 추가한다.","operationId":"createBranch","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BranchCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataBranchResponse"}}}}}}},"/api/v1/auth/refresh":{"post":{"tags":["Auth API"],"summary":"토큰 재발급","description":"Refresh 토큰으로 Access 토큰을 재발급한다.","operationId":"refresh","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataLoginResponse"}}}}}}},"/api/v1/auth/logout":{"post":{"tags":["Auth API"],"summary":"로그아웃","description":"갱신 토큰을 만료 처리한다.","operationId":"logout","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogoutRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataVoid"}}}}}}},"/api/v1/auth/login":{"post":{"tags":["Auth API"],"summary":"로그인","description":"이메일/비밀번호로 Access/Refresh 토큰을 발급한다.","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataLoginResponse"}}}}}}},"/api/v1/teachers/me/branches/{assignmentId}":{"patch":{"tags":["Teacher Branch Assignment API"],"summary":"지점 Assignment 활성/비활성화","description":"선생님이 출강 중단 시 Assignment를 비활성화하고, 필요 시 다시 활성화한다.","operationId":"updateAssignmentStatus","parameters":[{"name":"assignmentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeacherBranchAssignmentStatusUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataTeacherBranchAssignmentResponse"}}}}}}},"/api/v1/teachers/me/assistants/{assignmentId}":{"patch":{"tags":["Assistant Management API"],"summary":"조교 활성/비활성화","description":"교사가 특정 조교의 접근 권한을 켜거나 끈다.","operationId":"updateAssistantStatus","parameters":[{"name":"assignmentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssistantAssignmentStatusUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataAssistantAssignmentResponse"}}}}}}},"/api/v1/teacher-student-requests/{requestId}/reject":{"patch":{"tags":["Teacher Student Request API"],"summary":"선생님 요청 거절","operationId":"rejectRequest","parameters":[{"name":"requestId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataStudentTeacherRequestResponse"}}}}}}},"/api/v1/teacher-student-requests/{requestId}/cancel":{"patch":{"tags":["Teacher Student Request API"],"summary":"학생 선생님 요청 취소","operationId":"cancelRequest","parameters":[{"name":"requestId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataStudentTeacherRequestResponse"}}}}}}},"/api/v1/teacher-student-requests/{requestId}/approve":{"patch":{"tags":["Teacher Student Request API"],"summary":"선생님 요청 승인","operationId":"approveRequest","parameters":[{"name":"requestId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataStudentTeacherRequestResponse"}}}}}}},"/api/v1/students/me/courses/{courseId}/clinic-slot":{"patch":{"tags":["Student Course API"],"summary":"학생 기본 클리닉 슬롯 변경","operationId":"updateDefaultClinicSlot","parameters":[{"name":"courseId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StudentDefaultClinicSlotRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataStudentDefaultClinicSlotResponse"}}}}}}},"/api/v1/student-courses/{recordId}":{"get":{"tags":["Student Course Management API"],"summary":"학생 수업 상세 조회","operationId":"getStudentCourse","parameters":[{"name":"recordId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataStudentCourseDetailResponse"}}}}}},"patch":{"tags":["Student Course Management API"],"summary":"학생 수업 기록 수정","operationId":"updateStudentCourse","parameters":[{"name":"recordId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StudentCourseRecordUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataStudentCourseDetailResponse"}}}}}}},"/api/v1/student-course-assignments/{assignmentId}/deactivate":{"patch":{"tags":["Student Course Assignment API"],"summary":"학생 반 배치 비활성화","operationId":"deactivateAssignment","parameters":[{"name":"assignmentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataStudentCourseAssignmentResponse"}}}}}}},"/api/v1/student-course-assignments/{assignmentId}/activate":{"patch":{"tags":["Student Course Assignment API"],"summary":"학생 반 배치 활성화","operationId":"activateAssignment","parameters":[{"name":"assignmentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataStudentCourseAssignmentResponse"}}}}}}},"/api/v1/personal-progress/{progressId}":{"delete":{"tags":["Personal Progress API"],"summary":"개별 진도 삭제","operationId":"deletePersonalProgress","parameters":[{"name":"progressId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataVoid"}}}}}},"patch":{"tags":["Personal Progress API"],"summary":"개별 진도 수정","operationId":"updatePersonalProgress","parameters":[{"name":"progressId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonalProgressUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPersonalProgressResponse"}}}}}}},"/api/v1/courses/{courseId}":{"get":{"tags":["Course API (Teacher)"],"summary":"Course 상세 조회","description":"Course 상세 정보를 조회한다.","operationId":"getCourse","parameters":[{"name":"courseId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataCourseResponse"}}}}}},"patch":{"tags":["Course API (Teacher)"],"summary":"Course 수정","description":"Course 기본 정보와 스케줄을 수정한다.","operationId":"updateCourse","parameters":[{"name":"courseId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataCourseResponse"}}}}}}},"/api/v1/courses/{courseId}/status":{"patch":{"tags":["Course API (Teacher)"],"summary":"Course 활성/비활성화","description":"Course 상태를 on/off 한다.","operationId":"updateCourseStatus","parameters":[{"name":"courseId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseStatusUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataCourseResponse"}}}}}}},"/api/v1/course-progress/{progressId}":{"delete":{"tags":["Course Progress API"],"summary":"반 공통 진도 삭제","operationId":"deleteCourseProgress","parameters":[{"name":"progressId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataVoid"}}}}}},"patch":{"tags":["Course Progress API"],"summary":"반 공통 진도 수정","operationId":"updateCourseProgress","parameters":[{"name":"progressId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseProgressUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataCourseProgressResponse"}}}}}}},"/api/v1/clinic-slots/{slotId}":{"delete":{"tags":["ClinicSlot API"],"summary":"클리닉 슬롯 삭제","operationId":"deleteSlot","parameters":[{"name":"slotId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataVoid"}}}}}},"patch":{"tags":["ClinicSlot API"],"summary":"클리닉 슬롯 수정","operationId":"updateSlot","parameters":[{"name":"slotId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClinicSlotUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataClinicSlotResponse"}}}}}}},"/api/v1/clinic-sessions/{sessionId}/cancel":{"patch":{"tags":["ClinicSession API"],"summary":"클리닉 세션 취소","operationId":"cancelSession","parameters":[{"name":"sessionId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataVoid"}}}}}}},"/api/v1/clinic-records/{recordId}":{"delete":{"tags":["ClinicRecord API"],"summary":"클리닉 기록 삭제","operationId":"deleteRecord","parameters":[{"name":"recordId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataVoid"}}}}}},"patch":{"tags":["ClinicRecord API"],"summary":"클리닉 기록 수정","operationId":"updateRecord","parameters":[{"name":"recordId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClinicRecordUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataClinicRecordResponse"}}}}}}},"/api/v1/branches/{branchId}":{"patch":{"tags":["Branch API"],"summary":"지점 정보 수정","description":"교사(OWNER) 또는 SuperAdmin이 지점 이름/활성 여부를 수정한다.","operationId":"updateBranch","parameters":[{"name":"branchId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BranchUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataBranchResponse"}}}}}}},"/api/v1/branches/{branchId}/verified-status":{"patch":{"tags":["Branch API"],"summary":"지점 검증 상태 변경","description":"SuperAdmin이 지점의 verified 상태 및 활성화를 토글한다.","operationId":"updateBranchVerifiedStatus","parameters":[{"name":"branchId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BranchVerifiedStatusRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataBranchResponse"}}}}}}},"/api/v1/admin/companies/{companyId}/verified-status":{"patch":{"tags":["Company API"],"summary":"학원 검증 상태 변경","description":"SuperAdmin이 학원의 검증/활성 상태를 변경한다.","operationId":"updateCompanyVerifiedStatus","parameters":[{"name":"companyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyVerifiedStatusRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataCompanyResponse"}}}}}}},"/api/v1/teachers":{"get":{"tags":["Teacher Search API"],"summary":"학생 선생님 검색","operationId":"searchTeachers","parameters":[{"name":"keyword","in":"query","required":false,"schema":{"type":"string"}},{"name":"companyId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"branchId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPageResponseTeacherSearchResponse"}}}}}}},"/api/v1/teachers/me/assistants/search":{"get":{"tags":["Assistant Management API"],"summary":"조교 이름 검색","description":"이미 가입한 조교를 이름으로 검색한다.","operationId":"searchAssistants","parameters":[{"name":"name","in":"query","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataListAssistantSearchResponse"}}}}}}},"/api/v1/teacher-students":{"get":{"tags":["Teacher Student API"],"summary":"선생님 학생 목록 조회","operationId":"getTeacherStudents","parameters":[{"name":"courseId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"keyword","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPageResponseStudentSummaryResponse"}}}}}}},"/api/v1/teacher-students/{studentId}":{"get":{"tags":["Teacher Student API"],"summary":"선생님 학생 상세 조회","operationId":"getTeacherStudentDetail","parameters":[{"name":"studentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataTeacherStudentDetailResponse"}}}}}}},"/api/v1/students/{studentId}/calendar":{"get":{"tags":["Student Calendar API"],"summary":"학생 월간 캘린더 조회","operationId":"getStudentCalendar","parameters":[{"name":"studentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"year","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"month","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataStudentCalendarResponse"}}}}}}},"/api/v1/students/me/courses":{"get":{"tags":["Student Course API"],"summary":"학생 수업 목록 조회","operationId":"getMyCourses","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPageResponseStudentMyCourseResponse"}}}}}}},"/api/v1/students/me/clinic-contexts":{"get":{"tags":["Student Clinic Context API"],"summary":"학생 클리닉 컨텍스트 조회","operationId":"getClinicContexts","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataListStudentClinicContextResponse"}}}}}}},"/api/v1/courses/{courseId}/students":{"get":{"tags":["Course Assignment API"],"summary":"반 수강 학생 조회","operationId":"getCourseStudents","parameters":[{"name":"courseId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPageResponseCourseStudentResponse"}}}}}}},"/api/v1/courses/{courseId}/assignment-candidates":{"get":{"tags":["Course Assignment API"],"summary":"반 배치 후보 학생 조회","operationId":"getAssignmentCandidates","parameters":[{"name":"courseId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"keyword","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPageResponseStudentSummaryResponse"}}}}}}},"/api/v1/courses/schedule":{"get":{"tags":["Course API (Teacher)"],"summary":"Course 캘린더 조회","description":"기간 내 Course 스케줄 목록을 조회한다.","operationId":"getCourseSchedules","parameters":[{"name":"startDate","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"endDate","in":"query","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataListCourseResponse"}}}}}}},"/api/v1/courses/assignable":{"get":{"tags":["Course Assignment API"],"summary":"배치 가능한 반 목록 조회","operationId":"getAssignableCourses","parameters":[{"name":"branchId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"keyword","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPageResponseCourseResponse"}}}}}}},"/api/v1/clinic-sessions":{"get":{"tags":["ClinicSession API"],"summary":"클리닉 세션 조회","operationId":"getSessions","parameters":[{"name":"dateRange","in":"query","required":true,"schema":{"type":"string"}},{"name":"branchId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"teacherId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataListClinicSessionResponse"}}}}}}},"/api/v1/clinic-attendances":{"get":{"tags":["ClinicAttendance API"],"summary":"클리닉 출석 명단 조회","operationId":"getAttendances","parameters":[{"name":"clinicSessionId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataListClinicAttendanceDetailResponse"}}}}}}},"/api/v1/auth/me":{"get":{"tags":["Auth API"],"summary":"현재 로그인한 사용자 정보 조회","description":"Access 토큰 기준으로 현재 사용자의 식별자/역할을 조회한다.","operationId":"me","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataMeResponse"}}}}}}},"/api/v1/assistants/me/courses":{"get":{"tags":["Assistant Course API"],"summary":"조교 Course 목록 조회","operationId":"getCourses_1","parameters":[{"name":"teacherId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"keyword","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPageResponseCourseWithTeacherResponse"}}}}}}},"/api/v1/admin/courses":{"get":{"tags":["Admin Course API"],"summary":"모든 Course 조회","operationId":"getCourses_2","parameters":[{"name":"teacherId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"branchId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"companyId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"keyword","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPageResponseCourseResponse"}}}}}}},"/api/v1/admin/companies":{"get":{"tags":["Company API"],"summary":"SuperAdmin 학원 목록 조회","description":"SuperAdmin이 전체 학원 목록을 검증 상태로 필터링해 조회한다.","operationId":"getCompaniesForAdmin","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"type","in":"query","required":false,"schema":{"type":"string"}},{"name":"keyword","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPageResponseCompanyResponse"}}}}}}},"/api/v1/admin/companies/{companyId}":{"get":{"tags":["Company API"],"summary":"학원 상세 조회","description":"SuperAdmin이 특정 학원 상세 정보를 조회한다.","operationId":"getCompanyDetail","parameters":[{"name":"companyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataCompanyResponse"}}}}}}},"/api/v1/students/me/clinic-attendances/{attendanceId}":{"delete":{"tags":["ClinicAttendance API"],"summary":"학생 클리닉 참석 취소","operationId":"cancelAttendance","parameters":[{"name":"attendanceId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataVoid"}}}}}}},"/api/v1/clinic-attendances/{attendanceId}":{"delete":{"tags":["ClinicAttendance API"],"summary":"클리닉 출석 삭제","operationId":"deleteAttendance","parameters":[{"name":"attendanceId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataVoid"}}}}}}},"/api/v1/admin/courses/{courseId}":{"delete":{"tags":["Admin Course API"],"summary":"Course 하드 삭제","operationId":"deleteCourse","parameters":[{"name":"courseId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataVoid"}}}}}}}},"components":{"schemas":{"BranchInput":{"type":"object","properties":{"companyId":{"type":"string","format":"uuid"},"branchName":{"type":"string","minLength":1}},"required":["branchName","companyId"]},"CompanyInput":{"type":"object","properties":{"companyName":{"type":"string","minLength":1},"branchName":{"type":"string","minLength":1}},"required":["branchName","companyName"]},"IndividualInput":{"type":"object","properties":{"companyName":{"type":"string","minLength":1},"branchName":{"type":"string","minLength":1}},"required":["branchName","companyName"]},"TeacherBranchAssignmentCreateRequest":{"type":"object","properties":{"mode":{"type":"string","enum":["EXISTING_BRANCH","NEW_INDIVIDUAL","NEW_COMPANY","NEW_BRANCH"]},"branchId":{"type":"string","format":"uuid"},"role":{"type":"string","enum":["OWNER","FREELANCE"]},"individual":{"$ref":"#/components/schemas/IndividualInput"},"company":{"$ref":"#/components/schemas/CompanyInput"},"branch":{"$ref":"#/components/schemas/BranchInput"}},"required":["mode"]},"RsDataTeacherBranchAssignmentResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/TeacherBranchAssignmentResponse"}}},"TeacherBranchAssignmentResponse":{"type":"object","properties":{"assignmentId":{"type":"string","format":"uuid"},"branchId":{"type":"string","format":"uuid"},"branchName":{"type":"string"},"companyId":{"type":"string","format":"uuid"},"companyName":{"type":"string"},"companyType":{"type":"string","enum":["INDIVIDUAL","ACADEMY"]},"verifiedStatus":{"type":"string","enum":["UNVERIFIED","VERIFIED"]},"role":{"type":"string","enum":["OWNER","FREELANCE"]},"createdAt":{"type":"string","format":"date-time"},"deletedAt":{"type":"string","format":"date-time"}}},"AssistantAssignmentCreateRequest":{"type":"object","properties":{"assistantMemberId":{"type":"string","format":"uuid"}},"required":["assistantMemberId"]},"AssistantAssignmentResponse":{"type":"object","properties":{"assignmentId":{"type":"string","format":"uuid"},"assistant":{"$ref":"#/components/schemas/AssistantProfile"},"isActive":{"type":"boolean"},"assignedAt":{"type":"string","format":"date-time"},"disabledAt":{"type":"string","format":"date-time"}}},"AssistantProfile":{"type":"object","properties":{"memberId":{"type":"string","format":"uuid"},"name":{"type":"string"},"email":{"type":"string"},"phoneNumber":{"type":"string"}}},"RsDataAssistantAssignmentResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/AssistantAssignmentResponse"}}},"StudentTeacherRequestCreateRequest":{"type":"object","properties":{"teacherId":{"type":"string","format":"uuid"},"message":{"type":"string","maxLength":2000,"minLength":0}},"required":["teacherId"]},"RsDataStudentTeacherRequestResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/StudentTeacherRequestResponse"}}},"StudentSummaryResponse":{"type":"object","properties":{"memberId":{"type":"string","format":"uuid"},"name":{"type":"string"},"email":{"type":"string"},"phoneNumber":{"type":"string"},"schoolName":{"type":"string"},"grade":{"type":"string"},"birthDate":{"type":"string","format":"date"},"age":{"type":"integer","format":"int32"},"parentPhone":{"type":"string"}}},"StudentTeacherRequestResponse":{"type":"object","properties":{"requestId":{"type":"string","format":"uuid"},"teacher":{"$ref":"#/components/schemas/TeacherSearchResponse"},"student":{"$ref":"#/components/schemas/StudentSummaryResponse"},"status":{"type":"string","enum":["PENDING","APPROVED","REJECTED","CANCELLED"]},"message":{"type":"string"},"processedAt":{"type":"string","format":"date-time"},"processedByMemberId":{"type":"string","format":"uuid"},"createdAt":{"type":"string","format":"date-time"}}},"TeacherBranchSummary":{"type":"object","properties":{"companyId":{"type":"string","format":"uuid"},"companyName":{"type":"string"},"branchId":{"type":"string","format":"uuid"},"branchName":{"type":"string"}}},"TeacherSearchResponse":{"type":"object","properties":{"teacherId":{"type":"string","format":"uuid"},"teacherName":{"type":"string"},"branches":{"type":"array","items":{"$ref":"#/components/schemas/TeacherBranchSummary"}}}},"StudentClinicAttendanceRequest":{"type":"object","properties":{"clinicSessionId":{"type":"string","format":"uuid"},"courseId":{"type":"string","format":"uuid"}},"required":["clinicSessionId","courseId"]},"ClinicAttendanceResponse":{"type":"object","properties":{"attendanceId":{"type":"string","format":"uuid"},"clinicSessionId":{"type":"string","format":"uuid"},"studentCourseRecordId":{"type":"string","format":"uuid"}}},"RsDataClinicAttendanceResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/ClinicAttendanceResponse"}}},"PersonalProgressCreateRequest":{"type":"object","properties":{"date":{"type":"string","format":"date"},"title":{"type":"string","minLength":1},"content":{"type":"string","minLength":1}},"required":["content","date","title"]},"PersonalProgressResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"studentCourseRecordId":{"type":"string","format":"uuid"},"courseId":{"type":"string","format":"uuid"},"date":{"type":"string","format":"date"},"title":{"type":"string"},"content":{"type":"string"},"writerId":{"type":"string","format":"uuid"},"writerName":{"type":"string"},"writerRole":{"type":"string","enum":["TEACHER","ASSISTANT","STUDENT","ADMIN","SUPER_ADMIN"]},"createdAt":{"type":"string","format":"date-time"}}},"RsDataPersonalProgressResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PersonalProgressResponse"}}},"StudentCourseAssignmentCreateRequest":{"type":"object","properties":{"studentId":{"type":"string","format":"uuid"},"courseId":{"type":"string","format":"uuid"}},"required":["courseId","studentId"]},"RsDataStudentCourseAssignmentResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/StudentCourseAssignmentResponse"}}},"StudentCourseAssignmentResponse":{"type":"object","properties":{"assignmentId":{"type":"string","format":"uuid"},"studentId":{"type":"string","format":"uuid"},"courseId":{"type":"string","format":"uuid"},"assignedByMemberId":{"type":"string","format":"uuid"},"assignedAt":{"type":"string","format":"date-time"},"active":{"type":"boolean"}}},"RegisterMemberRequest":{"type":"object","properties":{"email":{"type":"string","format":"email","minLength":1},"password":{"type":"string","maxLength":64,"minLength":8,"pattern":"^(?=.*[A-Za-z])(?=.*\\d)(?=.*[!@#$%^&*()_+\\-={}:;\"'`~<>,.?/\\\\|\\[\\]]).{8,64}$"},"name":{"type":"string","maxLength":60,"minLength":0},"phoneNumber":{"type":"string","maxLength":13,"minLength":10,"pattern":"^[0-9\\-]+$"}},"required":["email","name","password","phoneNumber"]},"LoginResponse":{"type":"object","properties":{"memberId":{"type":"string","format":"uuid"},"accessToken":{"type":"string"},"accessTokenExpiresAt":{"type":"string","format":"date-time"}}},"RsDataLoginResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/LoginResponse"}}},"RegisterStudentRequest":{"type":"object","properties":{"email":{"type":"string","format":"email","minLength":1},"password":{"type":"string","maxLength":64,"minLength":8,"pattern":"^(?=.*[A-Za-z])(?=.*\\d)(?=.*[!@#$%^&*()_+\\-={}:;\"'`~<>,.?/\\\\|\\[\\]]).{8,64}$"},"name":{"type":"string","maxLength":60,"minLength":0},"phoneNumber":{"type":"string","maxLength":13,"minLength":10,"pattern":"^[0-9\\-]+$"},"schoolName":{"type":"string","maxLength":60,"minLength":0},"grade":{"type":"string","enum":["ELEMENTARY_1","ELEMENTARY_2","ELEMENTARY_3","ELEMENTARY_4","ELEMENTARY_5","ELEMENTARY_6","MIDDLE_1","MIDDLE_2","MIDDLE_3","HIGH_1","HIGH_2","HIGH_3","GAP_YEAR"]},"birthDate":{"type":"string","format":"date"},"parentPhone":{"type":"string","maxLength":13,"minLength":10,"pattern":"^[0-9\\-]+$"}},"required":["birthDate","email","grade","name","parentPhone","password","phoneNumber","schoolName"]},"CourseCreateRequest":{"type":"object","properties":{"branchId":{"type":"string","format":"uuid"},"name":{"type":"string","minLength":1},"description":{"type":"string"},"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"},"schedules":{"type":"array","items":{"$ref":"#/components/schemas/CourseScheduleRequest"},"minItems":1}},"required":["branchId","endDate","name","schedules","startDate"]},"CourseScheduleRequest":{"type":"object","properties":{"dayOfWeek":{"type":"string","enum":["MONDAY","TUESDAY","WEDNESDAY","THURSDAY","FRIDAY","SATURDAY","SUNDAY"]},"startTime":{"type":"string"},"endTime":{"type":"string"}},"required":["dayOfWeek","endTime","startTime"]},"CourseResponse":{"type":"object","properties":{"courseId":{"type":"string","format":"uuid"},"branchId":{"type":"string","format":"uuid"},"branchName":{"type":"string"},"companyId":{"type":"string","format":"uuid"},"companyName":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"},"active":{"type":"boolean"},"schedules":{"type":"array","items":{"$ref":"#/components/schemas/CourseScheduleResponse"}}}},"CourseScheduleResponse":{"type":"object","properties":{"dayOfWeek":{"type":"string","enum":["MONDAY","TUESDAY","WEDNESDAY","THURSDAY","FRIDAY","SATURDAY","SUNDAY"]},"startTime":{"type":"string"},"endTime":{"type":"string"}}},"RsDataCourseResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/CourseResponse"}}},"CourseProgressCreateRequest":{"type":"object","properties":{"date":{"type":"string","format":"date"},"title":{"type":"string","minLength":1},"content":{"type":"string","minLength":1}},"required":["content","date","title"]},"CourseProgressResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"courseId":{"type":"string","format":"uuid"},"date":{"type":"string","format":"date"},"title":{"type":"string"},"content":{"type":"string"},"writerId":{"type":"string","format":"uuid"},"writerName":{"type":"string"},"writerRole":{"type":"string","enum":["TEACHER","ASSISTANT","STUDENT","ADMIN","SUPER_ADMIN"]},"createdAt":{"type":"string","format":"date-time"}}},"RsDataCourseProgressResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/CourseProgressResponse"}}},"CourseProgressComposeRequest":{"type":"object","properties":{"courseProgress":{"$ref":"#/components/schemas/CourseProgressCreateRequest"},"personalProgressList":{"type":"array","items":{"$ref":"#/components/schemas/PersonalProgressComposeRequest"}}},"required":["courseProgress","personalProgressList"]},"PersonalProgressComposeRequest":{"type":"object","properties":{"studentCourseRecordId":{"type":"string","format":"uuid"},"date":{"type":"string","format":"date"},"title":{"type":"string","minLength":1},"content":{"type":"string","minLength":1}},"required":["content","date","studentCourseRecordId","title"]},"CompanyCreateRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1},"description":{"type":"string"},"type":{"type":"string","enum":["INDIVIDUAL","ACADEMY"]},"branchName":{"type":"string"}},"required":["name","type"]},"CompanyResponse":{"type":"object","properties":{"companyId":{"type":"string","format":"uuid"},"name":{"type":"string"},"description":{"type":"string"},"type":{"type":"string","enum":["INDIVIDUAL","ACADEMY"]},"verifiedStatus":{"type":"string","enum":["UNVERIFIED","VERIFIED"]},"creatorMemberId":{"type":"string","format":"uuid"},"createdAt":{"type":"string","format":"date-time"},"deletedAt":{"type":"string","format":"date-time"}}},"RsDataCompanyResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/CompanyResponse"}}},"ClinicSlotCreateRequest":{"type":"object","properties":{"branchId":{"type":"string","format":"uuid"},"dayOfWeek":{"type":"string","enum":["MONDAY","TUESDAY","WEDNESDAY","THURSDAY","FRIDAY","SATURDAY","SUNDAY"]},"startTime":{"type":"string"},"endTime":{"type":"string"},"defaultCapacity":{"type":"integer","format":"int32","minimum":1}},"required":["branchId","dayOfWeek","defaultCapacity","endTime","startTime"]},"ClinicSlotResponse":{"type":"object","properties":{"slotId":{"type":"string","format":"uuid"},"teacherMemberId":{"type":"string","format":"uuid"},"creatorMemberId":{"type":"string","format":"uuid"},"branchId":{"type":"string","format":"uuid"},"dayOfWeek":{"type":"string","enum":["MONDAY","TUESDAY","WEDNESDAY","THURSDAY","FRIDAY","SATURDAY","SUNDAY"]},"startTime":{"type":"string"},"endTime":{"type":"string"},"defaultCapacity":{"type":"integer","format":"int32"}}},"RsDataClinicSlotResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/ClinicSlotResponse"}}},"ClinicSessionRegularCreateRequest":{"type":"object","properties":{"date":{"type":"string","format":"date"}},"required":["date"]},"ClinicSessionResponse":{"type":"object","properties":{"sessionId":{"type":"string","format":"uuid"},"slotId":{"type":"string","format":"uuid"},"teacherMemberId":{"type":"string","format":"uuid"},"branchId":{"type":"string","format":"uuid"},"sessionType":{"type":"string","enum":["REGULAR","EMERGENCY"]},"creatorMemberId":{"type":"string","format":"uuid"},"date":{"type":"string","format":"date"},"startTime":{"type":"string"},"endTime":{"type":"string"},"capacity":{"type":"integer","format":"int32"},"attendanceCount":{"type":"integer","format":"int32"},"isCanceled":{"type":"boolean"}}},"RsDataClinicSessionResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/ClinicSessionResponse"}}},"ClinicAttendanceCreateRequest":{"type":"object","properties":{"studentCourseRecordId":{"type":"string","format":"uuid"}},"required":["studentCourseRecordId"]},"ClinicSessionEmergencyCreateRequest":{"type":"object","properties":{"branchId":{"type":"string","format":"uuid"},"teacherId":{"type":"string","format":"uuid"},"date":{"type":"string","format":"date"},"startTime":{"type":"string"},"endTime":{"type":"string"},"capacity":{"type":"integer","format":"int32","minimum":1}},"required":["branchId","capacity","date","endTime","startTime"]},"ClinicRecordCreateRequest":{"type":"object","properties":{"clinicAttendanceId":{"type":"string","format":"uuid"},"title":{"type":"string","minLength":1},"content":{"type":"string","minLength":1},"homeworkProgress":{"type":"string"}},"required":["clinicAttendanceId","content","title"]},"ClinicRecordResponse":{"type":"object","properties":{"recordId":{"type":"string","format":"uuid"},"clinicAttendanceId":{"type":"string","format":"uuid"},"writerId":{"type":"string","format":"uuid"},"title":{"type":"string"},"content":{"type":"string"},"homeworkProgress":{"type":"string"}}},"RsDataClinicRecordResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/ClinicRecordResponse"}}},"BranchCreateRequest":{"type":"object","properties":{"companyId":{"type":"string","format":"uuid"},"name":{"type":"string","minLength":1}},"required":["companyId","name"]},"BranchResponse":{"type":"object","properties":{"branchId":{"type":"string","format":"uuid"},"companyId":{"type":"string","format":"uuid"},"companyName":{"type":"string"},"name":{"type":"string"},"verifiedStatus":{"type":"string","enum":["UNVERIFIED","VERIFIED"]},"creatorMemberId":{"type":"string","format":"uuid"},"createdAt":{"type":"string","format":"date-time"},"deletedAt":{"type":"string","format":"date-time"}}},"RsDataBranchResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/BranchResponse"}}},"LogoutRequest":{"type":"object","properties":{"refreshToken":{"type":"string"},"logoutAll":{"type":"boolean"}}},"RsDataVoid":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{}}},"LoginRequest":{"type":"object","properties":{"email":{"type":"string","format":"email","minLength":1},"password":{"type":"string","minLength":1}},"required":["email","password"]},"TeacherBranchAssignmentStatusUpdateRequest":{"type":"object","properties":{"enabled":{"type":"boolean"}},"required":["enabled"]},"AssistantAssignmentStatusUpdateRequest":{"type":"object","properties":{"enabled":{"type":"boolean"}},"required":["enabled"]},"StudentDefaultClinicSlotRequest":{"type":"object","properties":{"defaultClinicSlotId":{"type":"string","format":"uuid"}},"required":["defaultClinicSlotId"]},"RsDataStudentDefaultClinicSlotResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/StudentDefaultClinicSlotResponse"}}},"StudentDefaultClinicSlotResponse":{"type":"object","properties":{"studentCourseRecordId":{"type":"string","format":"uuid"},"defaultClinicSlotId":{"type":"string","format":"uuid"}}},"ClinicAttendanceMoveRequest":{"type":"object","properties":{"fromSessionId":{"type":"string","format":"uuid"},"toSessionId":{"type":"string","format":"uuid"}},"required":["fromSessionId","toSessionId"]},"StudentCourseRecordUpdateRequest":{"type":"object","properties":{"assistantMemberId":{"type":"string","format":"uuid"},"defaultClinicSlotId":{"type":"string","format":"uuid"},"teacherNotes":{"type":"string"}}},"RsDataStudentCourseDetailResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/StudentCourseDetailResponse"}}},"StudentCourseDetailResponse":{"type":"object","properties":{"recordId":{"type":"string","format":"uuid"},"student":{"$ref":"#/components/schemas/StudentSummaryResponse"},"course":{"$ref":"#/components/schemas/CourseResponse"},"assistantMemberId":{"type":"string","format":"uuid"},"defaultClinicSlotId":{"type":"string","format":"uuid"},"teacherNotes":{"type":"string"},"active":{"type":"boolean"}}},"PersonalProgressUpdateRequest":{"type":"object","properties":{"date":{"type":"string","format":"date"},"title":{"type":"string","maxLength":200,"minLength":0},"content":{"type":"string"}}},"CourseUpdateRequest":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"},"schedules":{"type":"array","items":{"$ref":"#/components/schemas/CourseScheduleRequest"}}}},"CourseStatusUpdateRequest":{"type":"object","properties":{"enabled":{"type":"boolean"}},"required":["enabled"]},"CourseProgressUpdateRequest":{"type":"object","properties":{"date":{"type":"string","format":"date"},"title":{"type":"string","maxLength":200,"minLength":0},"content":{"type":"string"}}},"ClinicSlotUpdateRequest":{"type":"object","properties":{"dayOfWeek":{"type":"string","enum":["MONDAY","TUESDAY","WEDNESDAY","THURSDAY","FRIDAY","SATURDAY","SUNDAY"]},"startTime":{"type":"string"},"endTime":{"type":"string"},"defaultCapacity":{"type":"integer","format":"int32","minimum":1}},"required":["dayOfWeek","defaultCapacity","endTime","startTime"]},"ClinicRecordUpdateRequest":{"type":"object","properties":{"title":{"type":"string","maxLength":200,"minLength":0},"content":{"type":"string"},"homeworkProgress":{"type":"string"}}},"BranchUpdateRequest":{"type":"object","properties":{"name":{"type":"string"},"enabled":{"type":"boolean"}}},"BranchVerifiedStatusRequest":{"type":"object","properties":{"verified":{"type":"boolean"},"enabled":{"type":"boolean"}},"required":["verified"]},"CompanyVerifiedStatusRequest":{"type":"object","properties":{"verified":{"type":"boolean"},"enabled":{"type":"boolean"}},"required":["verified"]},"PageResponseTeacherSearchResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/TeacherSearchResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}},"RsDataPageResponseTeacherSearchResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageResponseTeacherSearchResponse"}}},"PageResponseTeacherBranchAssignmentResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/TeacherBranchAssignmentResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}},"RsDataPageResponseTeacherBranchAssignmentResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageResponseTeacherBranchAssignmentResponse"}}},"PageResponseAssistantAssignmentResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/AssistantAssignmentResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}},"RsDataPageResponseAssistantAssignmentResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageResponseAssistantAssignmentResponse"}}},"AssistantSearchResponse":{"type":"object","properties":{"assistantMemberId":{"type":"string","format":"uuid"},"name":{"type":"string"},"email":{"type":"string"},"phoneNumber":{"type":"string"},"assignmentStatus":{"type":"string","enum":["NOT_ASSIGNED","ACTIVE","INACTIVE"]},"assignmentId":{"type":"string","format":"uuid"},"connectedAt":{"type":"string","format":"date-time"},"disabledAt":{"type":"string","format":"date-time"}}},"RsDataListAssistantSearchResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/AssistantSearchResponse"}}}},"PageResponseStudentSummaryResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/StudentSummaryResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}},"RsDataPageResponseStudentSummaryResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageResponseStudentSummaryResponse"}}},"RsDataTeacherStudentDetailResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/TeacherStudentDetailResponse"}}},"TeacherStudentCourseResponse":{"type":"object","properties":{"courseId":{"type":"string","format":"uuid"},"name":{"type":"string"},"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"},"active":{"type":"boolean"},"assignmentId":{"type":"string","format":"uuid"},"assignmentActive":{"type":"boolean"},"recordId":{"type":"string","format":"uuid"}}},"TeacherStudentDetailResponse":{"type":"object","properties":{"student":{"$ref":"#/components/schemas/StudentSummaryResponse"},"courses":{"type":"array","items":{"$ref":"#/components/schemas/TeacherStudentCourseResponse"}}}},"PageResponseStudentTeacherRequestResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/StudentTeacherRequestResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}},"RsDataPageResponseStudentTeacherRequestResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageResponseStudentTeacherRequestResponse"}}},"ClinicEvent":{"type":"object","properties":{"clinicSessionId":{"type":"string","format":"uuid"},"clinicAttendanceId":{"type":"string","format":"uuid"},"courseId":{"type":"string","format":"uuid"},"slotId":{"type":"string","format":"uuid"},"date":{"type":"string","format":"date"},"startTime":{"type":"string"},"endTime":{"type":"string"},"canceled":{"type":"boolean"},"recordSummary":{"$ref":"#/components/schemas/ClinicRecordSummary"}}},"ClinicRecordSummary":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"title":{"type":"string"},"content":{"type":"string"},"homeworkProgress":{"type":"string"},"writerRole":{"type":"string","enum":["TEACHER","ASSISTANT","STUDENT","ADMIN","SUPER_ADMIN"]}}},"CourseProgressEvent":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"courseId":{"type":"string","format":"uuid"},"courseName":{"type":"string"},"date":{"type":"string","format":"date"},"title":{"type":"string"},"content":{"type":"string"},"writerId":{"type":"string","format":"uuid"},"writerRole":{"type":"string","enum":["TEACHER","ASSISTANT","STUDENT","ADMIN","SUPER_ADMIN"]}}},"PersonalProgressEvent":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"studentCourseRecordId":{"type":"string","format":"uuid"},"courseId":{"type":"string","format":"uuid"},"courseName":{"type":"string"},"date":{"type":"string","format":"date"},"title":{"type":"string"},"content":{"type":"string"},"writerRole":{"type":"string","enum":["TEACHER","ASSISTANT","STUDENT","ADMIN","SUPER_ADMIN"]}}},"RsDataStudentCalendarResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/StudentCalendarResponse"}}},"StudentCalendarResponse":{"type":"object","properties":{"studentId":{"type":"string","format":"uuid"},"year":{"type":"integer","format":"int32"},"month":{"type":"integer","format":"int32"},"courseProgress":{"type":"array","items":{"$ref":"#/components/schemas/CourseProgressEvent"}},"personalProgress":{"type":"array","items":{"$ref":"#/components/schemas/PersonalProgressEvent"}},"clinicEvents":{"type":"array","items":{"$ref":"#/components/schemas/ClinicEvent"}}}},"PageResponseStudentMyCourseResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/StudentMyCourseResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}},"RsDataPageResponseStudentMyCourseResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageResponseStudentMyCourseResponse"}}},"StudentMyCourseResponse":{"type":"object","properties":{"assignmentId":{"type":"string","format":"uuid"},"assignedAt":{"type":"string","format":"date-time"},"assignmentActive":{"type":"boolean"},"recordId":{"type":"string","format":"uuid"},"course":{"$ref":"#/components/schemas/CourseResponse"}}},"RsDataListStudentClinicContextResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/StudentClinicContextResponse"}}}},"StudentClinicContextResponse":{"type":"object","properties":{"courseId":{"type":"string","format":"uuid"},"courseName":{"type":"string"},"recordId":{"type":"string","format":"uuid"},"defaultClinicSlotId":{"type":"string","format":"uuid"},"teacherId":{"type":"string","format":"uuid"},"teacherName":{"type":"string"},"branchId":{"type":"string","format":"uuid"},"branchName":{"type":"string"},"companyId":{"type":"string","format":"uuid"},"companyName":{"type":"string"}}},"RsDataStudentClinicAttendanceListResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/StudentClinicAttendanceListResponse"}}},"StudentClinicAttendanceListResponse":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/StudentClinicAttendanceResponse"}}}},"StudentClinicAttendanceResponse":{"type":"object","properties":{"attendanceId":{"type":"string","format":"uuid"},"clinicSessionId":{"type":"string","format":"uuid"},"teacherId":{"type":"string","format":"uuid"},"branchId":{"type":"string","format":"uuid"},"date":{"type":"string","format":"date"},"startTime":{"type":"string"},"endTime":{"type":"string"},"sessionType":{"type":"string","enum":["REGULAR","EMERGENCY"]},"isCanceled":{"type":"boolean"}}},"ProgressCursor":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"createdAt":{"type":"string","format":"date-time"}}},"ProgressSliceResponsePersonalProgressResponse":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/PersonalProgressResponse"}},"nextCursor":{"$ref":"#/components/schemas/ProgressCursor"}}},"RsDataProgressSliceResponsePersonalProgressResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/ProgressSliceResponsePersonalProgressResponse"}}},"PageResponseCourseResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/CourseResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}},"RsDataPageResponseCourseResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageResponseCourseResponse"}}},"CourseStudentResponse":{"type":"object","properties":{"recordId":{"type":"string","format":"uuid"},"assignmentActive":{"type":"boolean"},"student":{"$ref":"#/components/schemas/StudentSummaryResponse"}}},"PageResponseCourseStudentResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/CourseStudentResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}},"RsDataPageResponseCourseStudentResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageResponseCourseStudentResponse"}}},"ProgressSliceResponseCourseProgressResponse":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/CourseProgressResponse"}},"nextCursor":{"$ref":"#/components/schemas/ProgressCursor"}}},"RsDataProgressSliceResponseCourseProgressResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/ProgressSliceResponseCourseProgressResponse"}}},"RsDataListCourseResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/CourseResponse"}}}},"PageResponseCompanyResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/CompanyResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}},"RsDataPageResponseCompanyResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageResponseCompanyResponse"}}},"RsDataListClinicSlotResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/ClinicSlotResponse"}}}},"RsDataListClinicSessionResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/ClinicSessionResponse"}}}},"ClinicAttendanceDetailResponse":{"type":"object","properties":{"attendanceId":{"type":"string","format":"uuid"},"recordId":{"type":"string","format":"uuid"},"studentCourseRecordId":{"type":"string","format":"uuid"},"studentMemberId":{"type":"string","format":"uuid"},"studentName":{"type":"string"},"phoneNumber":{"type":"string"},"schoolName":{"type":"string"},"grade":{"type":"string"},"parentPhoneNumber":{"type":"string"},"age":{"type":"integer","format":"int32"}}},"RsDataListClinicAttendanceDetailResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/ClinicAttendanceDetailResponse"}}}},"PageResponseBranchResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/BranchResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}},"RsDataPageResponseBranchResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageResponseBranchResponse"}}},"MeResponse":{"type":"object","properties":{"memberId":{"type":"string","format":"uuid"},"email":{"type":"string"},"name":{"type":"string"},"role":{"type":"string","enum":["TEACHER","ASSISTANT","STUDENT","ADMIN","SUPER_ADMIN"]}}},"RsDataMeResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/MeResponse"}}},"CourseWithTeacherResponse":{"type":"object","properties":{"courseId":{"type":"string","format":"uuid"},"branchId":{"type":"string","format":"uuid"},"branchName":{"type":"string"},"companyId":{"type":"string","format":"uuid"},"companyName":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"},"active":{"type":"boolean"},"schedules":{"type":"array","items":{"$ref":"#/components/schemas/CourseScheduleResponse"}},"teacherId":{"type":"string","format":"uuid"},"teacherName":{"type":"string"}}},"PageResponseCourseWithTeacherResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/CourseWithTeacherResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}},"RsDataPageResponseCourseWithTeacherResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageResponseCourseWithTeacherResponse"}}}},"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}}}