{"openapi":"3.1.0","info":{"title":"ClassHub API","description":"ClassHub 서비스 백엔드 OpenAPI 문서","license":{"name":"MIT","url":"https://opensource.org/licenses/MIT"},"version":"v1.0.0"},"servers":[{"url":"http://local.classhub.dev","description":"Generated server url"}],"security":[{"BearerAuth":[]}],"tags":[{"name":"Auth API","description":"회원 가입/로그인/토큰 관련 API"},{"name":"Branch API","description":"지점(Branch) 생성 및 검증 API"},{"name":"Member API","description":"회원 등록 및 정보 관련 API"},{"name":"Teacher Branch Assignment API","description":"선생님-지점 연결 API"},{"name":"Company API","description":"학원(Company) 등록 및 검증 API"},{"name":"Assistant Management API","description":"Teacher 전용 조교/초대 관리 API"}],"paths":{"/api/v1/teachers/me/branches":{"get":{"tags":["Teacher Branch Assignment API"],"summary":"지점 Assignment 목록","description":"선생님이 연결한 지점 목록을 상태별로 조회한다.","operationId":"getAssignments","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string","default":"ACTIVE"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPageResponseTeacherBranchAssignmentResponse"}}}}}},"post":{"tags":["Teacher Branch Assignment API"],"summary":"지점 Assignment 생성","description":"선생님이 특정 지점과의 연결을 생성한다.","operationId":"createAssignment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeacherBranchAssignmentCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataTeacherBranchAssignmentResponse"}}}}}}},"/api/v1/teachers/me/assistants":{"get":{"tags":["Assistant Management API"],"summary":"조교 목록 조회","description":"교사가 배정된 조교 목록을 상태별로 확인한다.","operationId":"getAssistants","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string","default":"ACTIVE"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPageResponseAssistantAssignmentResponse"}}}}}},"post":{"tags":["Assistant Management API"],"summary":"조교 연결","description":"검색된 조교를 교사와 연결한다.","operationId":"assignAssistant","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssistantAssignmentCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataAssistantAssignmentResponse"}}}}}}},"/api/v1/members/register/teacher":{"post":{"tags":["Member API"],"summary":"선생님 회원가입","description":"Teacher 역할 계정을 생성하고 Access/Refresh 토큰을 발급한다.","operationId":"registerTeacher","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterMemberRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataLoginResponse"}}}}}}},"/api/v1/members/register/student":{"post":{"tags":["Member API"],"summary":"학생 회원가입","description":"Student 역할 계정을 생성하고 StudentInfo까지 함께 저장한다.","operationId":"registerStudent","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterStudentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataLoginResponse"}}}}}}},"/api/v1/members/register/assistant":{"post":{"tags":["Member API"],"summary":"조교 회원가입","description":"조교 역할 계정을 생성하고 Access/Refresh 토큰을 발급한다.","operationId":"registerAssistant","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterMemberRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataLoginResponse"}}}}}}},"/api/v1/companies":{"get":{"tags":["Company API"],"summary":"Teacher 학원 목록 조회","description":"교사가 접근 가능한 학원 목록을 상태/타입/키워드로 필터링해 조회한다.","operationId":"getCompaniesForTeacher","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"type","in":"query","required":false,"schema":{"type":"string"}},{"name":"keyword","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPageResponseCompanyResponse"}}}}}},"post":{"tags":["Company API"],"summary":"학원 생성","description":"Teacher가 INDIVIDUAL 또는 ACADEMY 학원을 등록한다.","operationId":"createCompany","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataCompanyResponse"}}}}}}},"/api/v1/branches":{"get":{"tags":["Branch API"],"summary":"지점 목록 조회","description":"Teacher 또는 SuperAdmin이 상태/키워드/회사 기준으로 지점을 조회한다.","operationId":"getBranches","parameters":[{"name":"companyId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"keyword","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPageResponseBranchResponse"}}}}}},"post":{"tags":["Branch API"],"summary":"지점 생성","description":"Teacher가 기존 학원에 새로운 지점을 추가한다.","operationId":"createBranch","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BranchCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataBranchResponse"}}}}}}},"/api/v1/auth/refresh":{"post":{"tags":["Auth API"],"summary":"토큰 재발급","description":"Refresh 토큰으로 Access 토큰을 재발급한다.","operationId":"refresh","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataLoginResponse"}}}}}}},"/api/v1/auth/logout":{"post":{"tags":["Auth API"],"summary":"로그아웃","description":"갱신 토큰을 만료 처리한다.","operationId":"logout","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogoutRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataVoid"}}}}}}},"/api/v1/auth/login":{"post":{"tags":["Auth API"],"summary":"로그인","description":"이메일/비밀번호로 Access/Refresh 토큰을 발급한다.","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataLoginResponse"}}}}}}},"/api/v1/teachers/me/branches/{assignmentId}":{"patch":{"tags":["Teacher Branch Assignment API"],"summary":"지점 Assignment 활성/비활성화","description":"선생님이 출강 중단 시 Assignment를 비활성화하고, 필요 시 다시 활성화한다.","operationId":"updateAssignmentStatus","parameters":[{"name":"assignmentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeacherBranchAssignmentStatusUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataTeacherBranchAssignmentResponse"}}}}}}},"/api/v1/teachers/me/assistants/{assignmentId}":{"patch":{"tags":["Assistant Management API"],"summary":"조교 활성/비활성화","description":"교사가 특정 조교의 접근 권한을 켜거나 끈다.","operationId":"updateAssistantStatus","parameters":[{"name":"assignmentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssistantAssignmentStatusUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataAssistantAssignmentResponse"}}}}}}},"/api/v1/branches/{branchId}":{"patch":{"tags":["Branch API"],"summary":"지점 정보 수정","description":"교사(OWNER) 또는 SuperAdmin이 지점 이름/활성 여부를 수정한다.","operationId":"updateBranch","parameters":[{"name":"branchId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BranchUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataBranchResponse"}}}}}}},"/api/v1/branches/{branchId}/verified-status":{"patch":{"tags":["Branch API"],"summary":"지점 검증 상태 변경","description":"SuperAdmin이 지점의 verified 상태 및 활성화를 토글한다.","operationId":"updateBranchVerifiedStatus","parameters":[{"name":"branchId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BranchVerifiedStatusRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataBranchResponse"}}}}}}},"/api/v1/admin/companies/{companyId}/verified-status":{"patch":{"tags":["Company API"],"summary":"학원 검증 상태 변경","description":"SuperAdmin이 학원의 검증/활성 상태를 변경한다.","operationId":"updateCompanyVerifiedStatus","parameters":[{"name":"companyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyVerifiedStatusRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataCompanyResponse"}}}}}}},"/api/v1/teachers/me/assistants/search":{"get":{"tags":["Assistant Management API"],"summary":"조교 이메일 검색","description":"이미 가입한 조교를 이메일로 검색한다.","operationId":"searchAssistants","parameters":[{"name":"email","in":"query","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataListAssistantSearchResponse"}}}}}}},"/api/v1/auth/me":{"get":{"tags":["Auth API"],"summary":"현재 로그인한 사용자 정보 조회","description":"Access 토큰 기준으로 현재 사용자의 식별자/역할을 조회한다.","operationId":"me","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataMeResponse"}}}}}}},"/api/v1/admin/companies":{"get":{"tags":["Company API"],"summary":"SuperAdmin 학원 목록 조회","description":"SuperAdmin이 전체 학원 목록을 검증 상태로 필터링해 조회한다.","operationId":"getCompaniesForAdmin","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"type","in":"query","required":false,"schema":{"type":"string"}},{"name":"keyword","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPageResponseCompanyResponse"}}}}}}},"/api/v1/admin/companies/{companyId}":{"get":{"tags":["Company API"],"summary":"학원 상세 조회","description":"SuperAdmin이 특정 학원 상세 정보를 조회한다.","operationId":"getCompanyDetail","parameters":[{"name":"companyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataCompanyResponse"}}}}}}}},"components":{"schemas":{"BranchInput":{"type":"object","properties":{"companyId":{"type":"string","format":"uuid"},"branchName":{"type":"string","minLength":1}},"required":["branchName","companyId"]},"CompanyInput":{"type":"object","properties":{"companyName":{"type":"string","minLength":1},"branchName":{"type":"string","minLength":1}},"required":["branchName","companyName"]},"IndividualInput":{"type":"object","properties":{"companyName":{"type":"string","minLength":1},"branchName":{"type":"string","minLength":1}},"required":["branchName","companyName"]},"TeacherBranchAssignmentCreateRequest":{"type":"object","properties":{"mode":{"type":"string","enum":["EXISTING_BRANCH","NEW_INDIVIDUAL","NEW_COMPANY","NEW_BRANCH"]},"branchId":{"type":"string","format":"uuid"},"role":{"type":"string","enum":["OWNER","FREELANCE"]},"individual":{"$ref":"#/components/schemas/IndividualInput"},"company":{"$ref":"#/components/schemas/CompanyInput"},"branch":{"$ref":"#/components/schemas/BranchInput"}},"required":["mode"]},"RsDataTeacherBranchAssignmentResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/TeacherBranchAssignmentResponse"}}},"TeacherBranchAssignmentResponse":{"type":"object","properties":{"assignmentId":{"type":"string","format":"uuid"},"branchId":{"type":"string","format":"uuid"},"branchName":{"type":"string"},"companyId":{"type":"string","format":"uuid"},"companyName":{"type":"string"},"companyType":{"type":"string","enum":["INDIVIDUAL","ACADEMY"]},"verifiedStatus":{"type":"string","enum":["UNVERIFIED","VERIFIED"]},"role":{"type":"string","enum":["OWNER","FREELANCE"]},"createdAt":{"type":"string","format":"date-time"},"deletedAt":{"type":"string","format":"date-time"}}},"AssistantAssignmentCreateRequest":{"type":"object","properties":{"assistantMemberId":{"type":"string","format":"uuid"}},"required":["assistantMemberId"]},"AssistantAssignmentResponse":{"type":"object","properties":{"assignmentId":{"type":"string","format":"uuid"},"assistant":{"$ref":"#/components/schemas/AssistantProfile"},"isActive":{"type":"boolean"},"assignedAt":{"type":"string","format":"date-time"},"disabledAt":{"type":"string","format":"date-time"}}},"AssistantProfile":{"type":"object","properties":{"memberId":{"type":"string","format":"uuid"},"name":{"type":"string"},"email":{"type":"string"},"phoneNumber":{"type":"string"}}},"RsDataAssistantAssignmentResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/AssistantAssignmentResponse"}}},"RegisterMemberRequest":{"type":"object","properties":{"email":{"type":"string","format":"email","minLength":1},"password":{"type":"string","maxLength":64,"minLength":8,"pattern":"^(?=.*[A-Za-z])(?=.*\\d)(?=.*[!@#$%^&*()_+\\-={}:;\"'`~<>,.?/\\\\|\\[\\]]).{8,64}$"},"name":{"type":"string","maxLength":60,"minLength":0},"phoneNumber":{"type":"string","maxLength":13,"minLength":10,"pattern":"^[0-9\\-]+$"}},"required":["email","name","password","phoneNumber"]},"LoginResponse":{"type":"object","properties":{"memberId":{"type":"string","format":"uuid"},"accessToken":{"type":"string"},"accessTokenExpiresAt":{"type":"string","format":"date-time"}}},"RsDataLoginResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/LoginResponse"}}},"RegisterStudentRequest":{"type":"object","properties":{"email":{"type":"string","format":"email","minLength":1},"password":{"type":"string","maxLength":64,"minLength":8,"pattern":"^(?=.*[A-Za-z])(?=.*\\d)(?=.*[!@#$%^&*()_+\\-={}:;\"'`~<>,.?/\\\\|\\[\\]]).{8,64}$"},"name":{"type":"string","maxLength":60,"minLength":0},"phoneNumber":{"type":"string","maxLength":13,"minLength":10,"pattern":"^[0-9\\-]+$"},"schoolName":{"type":"string","maxLength":60,"minLength":0},"grade":{"type":"string","enum":["ELEMENTARY_1","ELEMENTARY_2","ELEMENTARY_3","ELEMENTARY_4","ELEMENTARY_5","ELEMENTARY_6","MIDDLE_1","MIDDLE_2","MIDDLE_3","HIGH_1","HIGH_2","HIGH_3","GAP_YEAR"]},"birthDate":{"type":"string","format":"date"},"parentPhone":{"type":"string","maxLength":13,"minLength":10,"pattern":"^[0-9\\-]+$"}},"required":["birthDate","email","grade","name","parentPhone","password","phoneNumber","schoolName"]},"CompanyCreateRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1},"description":{"type":"string"},"type":{"type":"string","enum":["INDIVIDUAL","ACADEMY"]},"branchName":{"type":"string"}},"required":["name","type"]},"CompanyResponse":{"type":"object","properties":{"companyId":{"type":"string","format":"uuid"},"name":{"type":"string"},"description":{"type":"string"},"type":{"type":"string","enum":["INDIVIDUAL","ACADEMY"]},"verifiedStatus":{"type":"string","enum":["UNVERIFIED","VERIFIED"]},"creatorMemberId":{"type":"string","format":"uuid"},"createdAt":{"type":"string","format":"date-time"},"deletedAt":{"type":"string","format":"date-time"}}},"RsDataCompanyResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/CompanyResponse"}}},"BranchCreateRequest":{"type":"object","properties":{"companyId":{"type":"string","format":"uuid"},"name":{"type":"string","minLength":1}},"required":["companyId","name"]},"BranchResponse":{"type":"object","properties":{"branchId":{"type":"string","format":"uuid"},"companyId":{"type":"string","format":"uuid"},"companyName":{"type":"string"},"name":{"type":"string"},"verifiedStatus":{"type":"string","enum":["UNVERIFIED","VERIFIED"]},"creatorMemberId":{"type":"string","format":"uuid"},"createdAt":{"type":"string","format":"date-time"},"deletedAt":{"type":"string","format":"date-time"}}},"RsDataBranchResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/BranchResponse"}}},"LogoutRequest":{"type":"object","properties":{"refreshToken":{"type":"string"},"logoutAll":{"type":"boolean"}}},"RsDataVoid":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{}}},"LoginRequest":{"type":"object","properties":{"email":{"type":"string","format":"email","minLength":1},"password":{"type":"string","minLength":1}},"required":["email","password"]},"TeacherBranchAssignmentStatusUpdateRequest":{"type":"object","properties":{"enabled":{"type":"boolean"}},"required":["enabled"]},"AssistantAssignmentStatusUpdateRequest":{"type":"object","properties":{"enabled":{"type":"boolean"}},"required":["enabled"]},"BranchUpdateRequest":{"type":"object","properties":{"name":{"type":"string"},"enabled":{"type":"boolean"}}},"BranchVerifiedStatusRequest":{"type":"object","properties":{"verified":{"type":"boolean"},"enabled":{"type":"boolean"}},"required":["verified"]},"CompanyVerifiedStatusRequest":{"type":"object","properties":{"verified":{"type":"boolean"},"enabled":{"type":"boolean"}},"required":["verified"]},"PageResponseTeacherBranchAssignmentResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/TeacherBranchAssignmentResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}},"RsDataPageResponseTeacherBranchAssignmentResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageResponseTeacherBranchAssignmentResponse"}}},"PageResponseAssistantAssignmentResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/AssistantAssignmentResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}},"RsDataPageResponseAssistantAssignmentResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageResponseAssistantAssignmentResponse"}}},"AssistantSearchResponse":{"type":"object","properties":{"assistantMemberId":{"type":"string","format":"uuid"},"name":{"type":"string"},"email":{"type":"string"},"phoneNumber":{"type":"string"},"assignmentStatus":{"type":"string","enum":["NOT_ASSIGNED","ACTIVE","INACTIVE"]},"assignmentId":{"type":"string","format":"uuid"},"connectedAt":{"type":"string","format":"date-time"},"disabledAt":{"type":"string","format":"date-time"}}},"RsDataListAssistantSearchResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/AssistantSearchResponse"}}}},"PageResponseCompanyResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/CompanyResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}},"RsDataPageResponseCompanyResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageResponseCompanyResponse"}}},"PageResponseBranchResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/BranchResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}},"RsDataPageResponseBranchResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageResponseBranchResponse"}}},"MeResponse":{"type":"object","properties":{"memberId":{"type":"string","format":"uuid"},"email":{"type":"string"},"name":{"type":"string"},"role":{"type":"string","enum":["TEACHER","ASSISTANT","STUDENT","ADMIN","SUPER_ADMIN"]}}},"RsDataMeResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/MeResponse"}}}},"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}}}