{"openapi":"3.1.0","info":{"title":"ClassHub API","description":"ClassHub \uc11c\ube44\uc2a4 \ubc31\uc5d4\ub4dc OpenAPI \ubb38\uc11c","license":{"name":"MIT","url":"https://opensource.org/licenses/MIT"},"version":"v1.0.0"},"servers":[{"url":"http://local.classhub.dev","description":"Generated server url"}],"security":[{"BearerAuth":[]}],"tags":[{"name":"Personal Progress API","description":"\ud559\uc0dd \uac1c\ubcc4 \uc9c4\ub3c4 \uad00\ub9ac API"},{"name":"ClinicSession API","description":"\ud074\ub9ac\ub2c9 \uc138\uc158 \uad00\ub9ac API"},{"name":"Student Clinic Context API","description":"\ud559\uc0dd \ud074\ub9ac\ub2c9 \ucee8\ud14d\uc2a4\ud2b8 \uc870\ud68c API"},{"name":"Student Course Management API","description":"\ud559\uc0dd \uc218\uc5c5 \uae30\ub85d \uad00\ub9ac API"},{"name":"Branch API","description":"\uc9c0\uc810(Branch) \uc0dd\uc131 \ubc0f \uac80\uc99d API"},{"name":"Member API","description":"\ud68c\uc6d0 \ub4f1\ub85d \ubc0f \uc815\ubcf4 \uad00\ub828 API"},{"name":"Teacher Student API","description":"\uc120\uc0dd\ub2d8 \ud559\uc0dd \uad00\ub9ac API"},{"name":"ClinicRecord API","description":"\ud074\ub9ac\ub2c9 \uae30\ub85d \uad00\ub9ac API"},{"name":"ClinicAttendance API","description":"\ud074\ub9ac\ub2c9 \ucd9c\uc11d \uad00\ub9ac API"},{"name":"Student Course API","description":"\ud559\uc0dd \uae30\ubcf8 \ud074\ub9ac\ub2c9 \uc2ac\ub86f \uad00\ub9ac API"},{"name":"Auth API","description":"\ud68c\uc6d0 \uac00\uc785/\ub85c\uadf8\uc778/\ud1a0\ud070 \uad00\ub828 API"},{"name":"Teacher Student Request API","description":"\ud559\uc0dd \uc120\uc0dd\ub2d8 \uc694\uccad API"},{"name":"Student Course Assignment API","description":"\ud559\uc0dd \ubc18 \ubc30\uce58 API"},{"name":"Course Progress API","description":"\ubc18 \uacf5\ud1b5 \uc9c4\ub3c4 \uad00\ub9ac API"},{"name":"Student Calendar API","description":"\ud559\uc0dd \uc6d4\uac04 \uce98\ub9b0\ub354 \uc870\ud68c API"},{"name":"Course API (Teacher)","description":"\uc120\uc0dd\ub2d8 \ubc18 \uad00\ub9ac API"},{"name":"Teacher Branch Assignment API","description":"\uc120\uc0dd\ub2d8-\uc9c0\uc810 \uc5f0\uacb0 API"},{"name":"Company API","description":"\ud559\uc6d0(Company) \ub4f1\ub85d \ubc0f \uac80\uc99d API"},{"name":"Feedback API","description":"\ud53c\ub4dc\ubc31 \uc791\uc131 \ubc0f \uad00\ub9ac API"},{"name":"Assistant Management API","description":"Teacher \uc804\uc6a9 \uc870\uad50/\ucd08\ub300 \uad00\ub9ac API"},{"name":"ClinicSlot API","description":"\ud074\ub9ac\ub2c9 \uc2ac\ub86f \uad00\ub9ac API"},{"name":"Course Assignment API","description":"\ubc18 \ubc30\uce58 \uc9c0\uc6d0 API"},{"name":"Teacher Search API","description":"\ud559\uc0dd \uc120\uc0dd\ub2d8 \uac80\uc0c9 API"}],"paths":{"/api/v1/teachers/me/branches":{"get":{"tags":["Teacher Branch Assignment API"],"summary":"\uc9c0\uc810 Assignment \ubaa9\ub85d","description":"\uc120\uc0dd\ub2d8\uc774 \uc5f0\uacb0\ud55c \uc9c0\uc810 \ubaa9\ub85d\uc744 \uc0c1\ud0dc\ubcc4\ub85c \uc870\ud68c\ud55c\ub2e4.","operationId":"getAssignments","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string","default":"ACTIVE"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPageResponseTeacherBranchAssignmentResponse"}}}}}},"post":{"tags":["Teacher Branch Assignment API"],"summary":"\uc9c0\uc810 Assignment \uc0dd\uc131","description":"\uc120\uc0dd\ub2d8\uc774 \ud2b9\uc815 \uc9c0\uc810\uacfc\uc758 \uc5f0\uacb0\uc744 \uc0dd\uc131\ud55c\ub2e4.","operationId":"createAssignment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeacherBranchAssignmentCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataTeacherBranchAssignmentResponse"}}}}}}},"/api/v1/teachers/me/assistants":{"get":{"tags":["Assistant Management API"],"summary":"\uc870\uad50 \ubaa9\ub85d \uc870\ud68c","description":"\uad50\uc0ac\uac00 \ubc30\uc815\ub41c \uc870\uad50 \ubaa9\ub85d\uc744 \uc0c1\ud0dc\ubcc4\ub85c \ud655\uc778\ud55c\ub2e4.","operationId":"getAssistants","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string","default":"ACTIVE"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPageResponseAssistantAssignmentResponse"}}}}}},"post":{"tags":["Assistant Management API"],"summary":"\uc870\uad50 \uc5f0\uacb0","description":"\uac80\uc0c9\ub41c \uc870\uad50\ub97c \uad50\uc0ac\uc640 \uc5f0\uacb0\ud55c\ub2e4.","operationId":"assignAssistant","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssistantAssignmentCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataAssistantAssignmentResponse"}}}}}}},"/api/v1/teacher-student-requests":{"get":{"tags":["Teacher Student Request API"],"summary":"\ud559\uc0dd \uc120\uc0dd\ub2d8 \uc694\uccad \ubaa9\ub85d \uc870\ud68c","operationId":"getRequests","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["PENDING","APPROVED","REJECTED","CANCELLED"]},"uniqueItems":true}},{"name":"keyword","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPageResponseStudentTeacherRequestResponse"}}}}}},"post":{"tags":["Teacher Student Request API"],"summary":"\ud559\uc0dd \uc120\uc0dd\ub2d8 \uc694\uccad \uc0dd\uc131","operationId":"createRequest","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StudentTeacherRequestCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataStudentTeacherRequestResponse"}}}}}}},"/api/v1/students/me/clinic-attendances":{"get":{"tags":["ClinicAttendance API"],"summary":"\ud559\uc0dd \ud074\ub9ac\ub2c9 \ucc38\uc11d \ubaa9\ub85d \uc870\ud68c","operationId":"getStudentAttendances","parameters":[{"name":"dateRange","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataStudentClinicAttendanceListResponse"}}}}}},"post":{"tags":["ClinicAttendance API"],"summary":"\ud559\uc0dd \ud074\ub9ac\ub2c9 \ucc38\uc11d \uc2e0\uccad","operationId":"requestAttendance","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StudentClinicAttendanceRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataClinicAttendanceResponse"}}}}}},"patch":{"tags":["ClinicAttendance API"],"summary":"\ud559\uc0dd \ud074\ub9ac\ub2c9 \uc774\ub3d9","operationId":"moveAttendance","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClinicAttendanceMoveRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataClinicAttendanceResponse"}}}}}}},"/api/v1/student-courses/{recordId}/personal-progress":{"get":{"tags":["Personal Progress API"],"summary":"\uac1c\ubcc4 \uc9c4\ub3c4 \ubaa9\ub85d \uc870\ud68c","operationId":"getPersonalProgresses","parameters":[{"name":"recordId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"cursorCreatedAt","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"cursorId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataProgressSliceResponsePersonalProgressResponse"}}}}}},"post":{"tags":["Personal Progress API"],"summary":"\uac1c\ubcc4 \uc9c4\ub3c4 \uc0dd\uc131","operationId":"createPersonalProgress","parameters":[{"name":"recordId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonalProgressCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPersonalProgressResponse"}}}}}}},"/api/v1/student-course-assignments":{"post":{"tags":["Student Course Assignment API"],"summary":"\ud559\uc0dd \ubc18 \ubc30\uce58 \uc0dd\uc131","operationId":"createAssignment_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StudentCourseAssignmentCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataStudentCourseAssignmentResponse"}}}}}}},"/api/v1/members/register/teacher":{"post":{"tags":["Member API"],"summary":"\uc120\uc0dd\ub2d8 \ud68c\uc6d0\uac00\uc785","description":"Teacher \uc5ed\ud560 \uacc4\uc815\uc744 \uc0dd\uc131\ud558\uace0 Access/Refresh \ud1a0\ud070\uc744 \ubc1c\uae09\ud55c\ub2e4.","operationId":"registerTeacher","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterMemberRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataLoginResponse"}}}}}}},"/api/v1/members/register/student":{"post":{"tags":["Member API"],"summary":"\ud559\uc0dd \ud68c\uc6d0\uac00\uc785","description":"Student \uc5ed\ud560 \uacc4\uc815\uc744 \uc0dd\uc131\ud558\uace0 StudentInfo\uae4c\uc9c0 \ud568\uaed8 \uc800\uc7a5\ud55c\ub2e4.","operationId":"registerStudent","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterStudentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataLoginResponse"}}}}}}},"/api/v1/members/register/assistant":{"post":{"tags":["Member API"],"summary":"\uc870\uad50 \ud68c\uc6d0\uac00\uc785","description":"\uc870\uad50 \uc5ed\ud560 \uacc4\uc815\uc744 \uc0dd\uc131\ud558\uace0 Access/Refresh \ud1a0\ud070\uc744 \ubc1c\uae09\ud55c\ub2e4.","operationId":"registerAssistant","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterMemberRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataLoginResponse"}}}}}}},"/api/v1/feedback":{"get":{"tags":["Feedback API"],"summary":"\ud53c\ub4dc\ubc31 \ubaa9\ub85d \uc870\ud68c","description":"SuperAdmin\uc774 \uc804\uccb4 \ud53c\ub4dc\ubc31\uc744 \uc0c1\ud0dc\ub85c \ud544\ud130\ub9c1\ud574 \uc870\ud68c\ud55c\ub2e4.","operationId":"getFeedbacksForAdmin","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPageResponseFeedbackResponse"}}}}}},"post":{"tags":["Feedback API"],"summary":"\ud53c\ub4dc\ubc31 \uc791\uc131","description":"Teacher/Assistant/Student\uac00 \ud53c\ub4dc\ubc31\uc744 \ub4f1\ub85d\ud55c\ub2e4.","operationId":"createFeedback","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeedbackCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataFeedbackResponse"}}}}}}},"/api/v1/courses":{"get":{"tags":["Course API (Teacher)"],"summary":"Course \ubaa9\ub85d \uc870\ud68c","description":"\uc120\uc0dd\ub2d8\uc774 \uc0dd\uc131\ud55c Course\ub97c \ubaa9\ub85d \ubdf0\ub85c \uc870\ud68c\ud55c\ub2e4.","operationId":"getCourses","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string","default":"ACTIVE"}},{"name":"branchId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"keyword","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPageResponseCourseResponse"}}}}}},"post":{"tags":["Course API (Teacher)"],"summary":"Course \uc0dd\uc131","description":"\uc120\uc0dd\ub2d8\uc774 Course\ub97c \uc0dd\uc131\ud55c\ub2e4.","operationId":"createCourse","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataCourseResponse"}}}}}}},"/api/v1/courses/{courseId}/course-progress":{"get":{"tags":["Course Progress API"],"summary":"\ubc18 \uacf5\ud1b5 \uc9c4\ub3c4 \ubaa9\ub85d \uc870\ud68c","operationId":"getCourseProgresses","parameters":[{"name":"courseId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"cursorCreatedAt","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"cursorId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataProgressSliceResponseCourseProgressResponse"}}}}}},"post":{"tags":["Course Progress API"],"summary":"\ubc18 \uacf5\ud1b5 \uc9c4\ub3c4 \uc0dd\uc131","operationId":"createCourseProgress","parameters":[{"name":"courseId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseProgressCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataCourseProgressResponse"}}}}}}},"/api/v1/courses/{courseId}/course-progress/compose":{"post":{"tags":["Course Progress API"],"summary":"\uacf5\ud1b5 \uc9c4\ub3c4 + \uac1c\uc778 \uc9c4\ub3c4 \ubc30\uce58 \uc0dd\uc131","operationId":"composeCourseProgress","parameters":[{"name":"courseId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseProgressComposeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataCourseProgressResponse"}}}}}}},"/api/v1/companies":{"get":{"tags":["Company API"],"summary":"Teacher \ud559\uc6d0 \ubaa9\ub85d \uc870\ud68c","description":"\uad50\uc0ac\uac00 \uc811\uadfc \uac00\ub2a5\ud55c \ud559\uc6d0 \ubaa9\ub85d\uc744 \uc0c1\ud0dc/\ud0c0\uc785/\ud0a4\uc6cc\ub4dc\ub85c \ud544\ud130\ub9c1\ud574 \uc870\ud68c\ud55c\ub2e4.","operationId":"getCompaniesForTeacher","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"type","in":"query","required":false,"schema":{"type":"string"}},{"name":"keyword","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPageResponseCompanyResponse"}}}}}},"post":{"tags":["Company API"],"summary":"\ud559\uc6d0 \uc0dd\uc131","description":"Teacher\uac00 INDIVIDUAL \ub610\ub294 ACADEMY \ud559\uc6d0\uc744 \ub4f1\ub85d\ud55c\ub2e4.","operationId":"createCompany","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataCompanyResponse"}}}}}}},"/api/v1/clinic-slots":{"get":{"tags":["ClinicSlot API"],"summary":"\ud074\ub9ac\ub2c9 \uc2ac\ub86f \ubaa9\ub85d \uc870\ud68c","operationId":"getSlots","parameters":[{"name":"branchId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"teacherId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"courseId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataListClinicSlotResponse"}}}}}},"post":{"tags":["ClinicSlot API"],"summary":"\ud074\ub9ac\ub2c9 \uc2ac\ub86f \uc0dd\uc131","operationId":"createSlot","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClinicSlotCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataClinicSlotResponse"}}}}}}},"/api/v1/clinic-slots/{slotId}/sessions":{"post":{"tags":["ClinicSession API"],"summary":"\uc815\uaddc \ud074\ub9ac\ub2c9 \uc138\uc158 \uc218\ub3d9 \uc0dd\uc131","operationId":"createRegularSession","parameters":[{"name":"slotId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClinicSessionRegularCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataClinicSessionResponse"}}}}}}},"/api/v1/clinic-sessions/{sessionId}/attendances":{"post":{"tags":["ClinicAttendance API"],"summary":"\ud074\ub9ac\ub2c9 \ucd9c\uc11d \ucd94\uac00","operationId":"addAttendance","parameters":[{"name":"sessionId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClinicAttendanceCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataClinicAttendanceResponse"}}}}}}},"/api/v1/clinic-sessions/emergency":{"post":{"tags":["ClinicSession API"],"summary":"\uae34\uae09 \ud074\ub9ac\ub2c9 \uc138\uc158 \uc0dd\uc131","operationId":"createEmergencySession","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClinicSessionEmergencyCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataClinicSessionResponse"}}}}}}},"/api/v1/clinic-records":{"get":{"tags":["ClinicRecord API"],"summary":"\ud074\ub9ac\ub2c9 \uae30\ub85d \uc870\ud68c","operationId":"getRecord","parameters":[{"name":"clinicAttendanceId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataClinicRecordResponse"}}}}}},"post":{"tags":["ClinicRecord API"],"summary":"\ud074\ub9ac\ub2c9 \uae30\ub85d \uc0dd\uc131","operationId":"createRecord","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClinicRecordCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataClinicRecordResponse"}}}}}}},"/api/v1/branches":{"get":{"tags":["Branch API"],"summary":"\uc9c0\uc810 \ubaa9\ub85d \uc870\ud68c","description":"Teacher \ub610\ub294 SuperAdmin\uc774 \uc0c1\ud0dc/\ud0a4\uc6cc\ub4dc/\ud68c\uc0ac \uae30\uc900\uc73c\ub85c \uc9c0\uc810\uc744 \uc870\ud68c\ud55c\ub2e4.","operationId":"getBranches","parameters":[{"name":"companyId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"keyword","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPageResponseBranchResponse"}}}}}},"post":{"tags":["Branch API"],"summary":"\uc9c0\uc810 \uc0dd\uc131","description":"Teacher\uac00 \uae30\uc874 \ud559\uc6d0\uc5d0 \uc0c8\ub85c\uc6b4 \uc9c0\uc810\uc744 \ucd94\uac00\ud55c\ub2e4.","operationId":"createBranch","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BranchCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataBranchResponse"}}}}}}},"/api/v1/auth/refresh":{"post":{"tags":["Auth API"],"summary":"\ud1a0\ud070 \uc7ac\ubc1c\uae09","description":"Refresh \ud1a0\ud070\uc73c\ub85c Access \ud1a0\ud070\uc744 \uc7ac\ubc1c\uae09\ud55c\ub2e4.","operationId":"refresh","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataLoginResponse"}}}}}}},"/api/v1/auth/logout":{"post":{"tags":["Auth API"],"summary":"\ub85c\uadf8\uc544\uc6c3","description":"\uac31\uc2e0 \ud1a0\ud070\uc744 \ub9cc\ub8cc \ucc98\ub9ac\ud55c\ub2e4.","operationId":"logout","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogoutRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataVoid"}}}}}}},"/api/v1/auth/login":{"post":{"tags":["Auth API"],"summary":"\ub85c\uadf8\uc778","description":"\uc774\uba54\uc77c/\ube44\ubc00\ubc88\ud638\ub85c Access/Refresh \ud1a0\ud070\uc744 \ubc1c\uae09\ud55c\ub2e4.","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataLoginResponse"}}}}}}},"/api/v1/teachers/me/branches/{assignmentId}":{"patch":{"tags":["Teacher Branch Assignment API"],"summary":"\uc9c0\uc810 Assignment \ud65c\uc131/\ube44\ud65c\uc131\ud654","description":"\uc120\uc0dd\ub2d8\uc774 \ucd9c\uac15 \uc911\ub2e8 \uc2dc Assignment\ub97c \ube44\ud65c\uc131\ud654\ud558\uace0, \ud544\uc694 \uc2dc \ub2e4\uc2dc \ud65c\uc131\ud654\ud55c\ub2e4.","operationId":"updateAssignmentStatus","parameters":[{"name":"assignmentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeacherBranchAssignmentStatusUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataTeacherBranchAssignmentResponse"}}}}}}},"/api/v1/teachers/me/assistants/{assignmentId}":{"patch":{"tags":["Assistant Management API"],"summary":"\uc870\uad50 \ud65c\uc131/\ube44\ud65c\uc131\ud654","description":"\uad50\uc0ac\uac00 \ud2b9\uc815 \uc870\uad50\uc758 \uc811\uadfc \uad8c\ud55c\uc744 \ucf1c\uac70\ub098 \ub048\ub2e4.","operationId":"updateAssistantStatus","parameters":[{"name":"assignmentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssistantAssignmentStatusUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataAssistantAssignmentResponse"}}}}}}},"/api/v1/teacher-student-requests/{requestId}/reject":{"patch":{"tags":["Teacher Student Request API"],"summary":"\uc120\uc0dd\ub2d8 \uc694\uccad \uac70\uc808","operationId":"rejectRequest","parameters":[{"name":"requestId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataStudentTeacherRequestResponse"}}}}}}},"/api/v1/teacher-student-requests/{requestId}/cancel":{"patch":{"tags":["Teacher Student Request API"],"summary":"\ud559\uc0dd \uc120\uc0dd\ub2d8 \uc694\uccad \ucde8\uc18c","operationId":"cancelRequest","parameters":[{"name":"requestId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataStudentTeacherRequestResponse"}}}}}}},"/api/v1/teacher-student-requests/{requestId}/approve":{"patch":{"tags":["Teacher Student Request API"],"summary":"\uc120\uc0dd\ub2d8 \uc694\uccad \uc2b9\uc778","operationId":"approveRequest","parameters":[{"name":"requestId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataStudentTeacherRequestResponse"}}}}}}},"/api/v1/students/me/courses/{courseId}/clinic-slot":{"patch":{"tags":["Student Course API"],"summary":"\ud559\uc0dd \uae30\ubcf8 \ud074\ub9ac\ub2c9 \uc2ac\ub86f \ubcc0\uacbd","operationId":"updateDefaultClinicSlot","parameters":[{"name":"courseId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StudentDefaultClinicSlotRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataStudentDefaultClinicSlotResponse"}}}}}}},"/api/v1/student-courses/{recordId}":{"get":{"tags":["Student Course Management API"],"summary":"\ud559\uc0dd \uc218\uc5c5 \uc0c1\uc138 \uc870\ud68c","operationId":"getStudentCourse","parameters":[{"name":"recordId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataStudentCourseDetailResponse"}}}}}},"patch":{"tags":["Student Course Management API"],"summary":"\ud559\uc0dd \uc218\uc5c5 \uae30\ub85d \uc218\uc815","operationId":"updateStudentCourse","parameters":[{"name":"recordId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StudentCourseRecordUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataStudentCourseDetailResponse"}}}}}}},"/api/v1/student-course-assignments/{assignmentId}/deactivate":{"patch":{"tags":["Student Course Assignment API"],"summary":"\ud559\uc0dd \ubc18 \ubc30\uce58 \ube44\ud65c\uc131\ud654","operationId":"deactivateAssignment","parameters":[{"name":"assignmentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataStudentCourseAssignmentResponse"}}}}}}},"/api/v1/student-course-assignments/{assignmentId}/activate":{"patch":{"tags":["Student Course Assignment API"],"summary":"\ud559\uc0dd \ubc18 \ubc30\uce58 \ud65c\uc131\ud654","operationId":"activateAssignment","parameters":[{"name":"assignmentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataStudentCourseAssignmentResponse"}}}}}}},"/api/v1/personal-progress/{progressId}":{"delete":{"tags":["Personal Progress API"],"summary":"\uac1c\ubcc4 \uc9c4\ub3c4 \uc0ad\uc81c","operationId":"deletePersonalProgress","parameters":[{"name":"progressId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataVoid"}}}}}},"patch":{"tags":["Personal Progress API"],"summary":"\uac1c\ubcc4 \uc9c4\ub3c4 \uc218\uc815","operationId":"updatePersonalProgress","parameters":[{"name":"progressId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonalProgressUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPersonalProgressResponse"}}}}}}},"/api/v1/feedback/{feedbackId}/resolve":{"patch":{"tags":["Feedback API"],"summary":"\ud53c\ub4dc\ubc31 \ud574\uacb0 \ucc98\ub9ac","description":"SuperAdmin\uc774 \ud53c\ub4dc\ubc31\uc744 \ud574\uacb0 \uc0c1\ud0dc\ub85c \uc804\ud658\ud55c\ub2e4.","operationId":"resolveFeedback","parameters":[{"name":"feedbackId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataFeedbackResponse"}}}}}}},"/api/v1/courses/{courseId}":{"get":{"tags":["Course API (Teacher)"],"summary":"Course \uc0c1\uc138 \uc870\ud68c","description":"Course \uc0c1\uc138 \uc815\ubcf4\ub97c \uc870\ud68c\ud55c\ub2e4.","operationId":"getCourse","parameters":[{"name":"courseId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataCourseResponse"}}}}}},"patch":{"tags":["Course API (Teacher)"],"summary":"Course \uc218\uc815","description":"Course \uae30\ubcf8 \uc815\ubcf4\uc640 \uc2a4\ucf00\uc904\uc744 \uc218\uc815\ud55c\ub2e4.","operationId":"updateCourse","parameters":[{"name":"courseId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataCourseResponse"}}}}}}},"/api/v1/courses/{courseId}/status":{"patch":{"tags":["Course API (Teacher)"],"summary":"Course \ud65c\uc131/\ube44\ud65c\uc131\ud654","description":"Course \uc0c1\ud0dc\ub97c on/off \ud55c\ub2e4.","operationId":"updateCourseStatus","parameters":[{"name":"courseId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseStatusUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataCourseResponse"}}}}}}},"/api/v1/course-progress/{progressId}":{"delete":{"tags":["Course Progress API"],"summary":"\ubc18 \uacf5\ud1b5 \uc9c4\ub3c4 \uc0ad\uc81c","operationId":"deleteCourseProgress","parameters":[{"name":"progressId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataVoid"}}}}}},"patch":{"tags":["Course Progress API"],"summary":"\ubc18 \uacf5\ud1b5 \uc9c4\ub3c4 \uc218\uc815","operationId":"updateCourseProgress","parameters":[{"name":"progressId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseProgressUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataCourseProgressResponse"}}}}}}},"/api/v1/clinic-slots/{slotId}":{"delete":{"tags":["ClinicSlot API"],"summary":"\ud074\ub9ac\ub2c9 \uc2ac\ub86f \uc0ad\uc81c","operationId":"deleteSlot","parameters":[{"name":"slotId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataVoid"}}}}}},"patch":{"tags":["ClinicSlot API"],"summary":"\ud074\ub9ac\ub2c9 \uc2ac\ub86f \uc218\uc815","operationId":"updateSlot","parameters":[{"name":"slotId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClinicSlotUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataClinicSlotResponse"}}}}}}},"/api/v1/clinic-sessions/{sessionId}/cancel":{"patch":{"tags":["ClinicSession API"],"summary":"\ud074\ub9ac\ub2c9 \uc138\uc158 \ucde8\uc18c","operationId":"cancelSession","parameters":[{"name":"sessionId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataVoid"}}}}}}},"/api/v1/clinic-records/{recordId}":{"delete":{"tags":["ClinicRecord API"],"summary":"\ud074\ub9ac\ub2c9 \uae30\ub85d \uc0ad\uc81c","operationId":"deleteRecord","parameters":[{"name":"recordId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataVoid"}}}}}},"patch":{"tags":["ClinicRecord API"],"summary":"\ud074\ub9ac\ub2c9 \uae30\ub85d \uc218\uc815","operationId":"updateRecord","parameters":[{"name":"recordId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClinicRecordUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataClinicRecordResponse"}}}}}}},"/api/v1/branches/{branchId}":{"patch":{"tags":["Branch API"],"summary":"\uc9c0\uc810 \uc815\ubcf4 \uc218\uc815","description":"\uad50\uc0ac(OWNER) \ub610\ub294 SuperAdmin\uc774 \uc9c0\uc810 \uc774\ub984/\ud65c\uc131 \uc5ec\ubd80\ub97c \uc218\uc815\ud55c\ub2e4.","operationId":"updateBranch","parameters":[{"name":"branchId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BranchUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataBranchResponse"}}}}}}},"/api/v1/branches/{branchId}/verified-status":{"patch":{"tags":["Branch API"],"summary":"\uc9c0\uc810 \uac80\uc99d \uc0c1\ud0dc \ubcc0\uacbd","description":"SuperAdmin\uc774 \uc9c0\uc810\uc758 verified \uc0c1\ud0dc \ubc0f \ud65c\uc131\ud654\ub97c \ud1a0\uae00\ud55c\ub2e4.","operationId":"updateBranchVerifiedStatus","parameters":[{"name":"branchId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BranchVerifiedStatusRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataBranchResponse"}}}}}}},"/api/v1/admin/companies/{companyId}/verified-status":{"patch":{"tags":["Company API"],"summary":"\ud559\uc6d0 \uac80\uc99d \uc0c1\ud0dc \ubcc0\uacbd","description":"SuperAdmin\uc774 \ud559\uc6d0\uc758 \uac80\uc99d/\ud65c\uc131 \uc0c1\ud0dc\ub97c \ubcc0\uacbd\ud55c\ub2e4.","operationId":"updateCompanyVerifiedStatus","parameters":[{"name":"companyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyVerifiedStatusRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataCompanyResponse"}}}}}}},"/api/v1/teachers":{"get":{"tags":["Teacher Search API"],"summary":"\ud559\uc0dd \uc120\uc0dd\ub2d8 \uac80\uc0c9","operationId":"searchTeachers","parameters":[{"name":"keyword","in":"query","required":false,"schema":{"type":"string"}},{"name":"companyId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"branchId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPageResponseTeacherSearchResponse"}}}}}}},"/api/v1/teachers/me/assistants/search":{"get":{"tags":["Assistant Management API"],"summary":"\uc870\uad50 \uc774\ub984 \uac80\uc0c9","description":"\uc774\ubbf8 \uac00\uc785\ud55c \uc870\uad50\ub97c \uc774\ub984\uc73c\ub85c \uac80\uc0c9\ud55c\ub2e4.","operationId":"searchAssistants","parameters":[{"name":"name","in":"query","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataListAssistantSearchResponse"}}}}}}},"/api/v1/teacher-students":{"get":{"tags":["Teacher Student API"],"summary":"\uc120\uc0dd\ub2d8 \ud559\uc0dd \ubaa9\ub85d \uc870\ud68c","operationId":"getTeacherStudents","parameters":[{"name":"courseId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"keyword","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPageResponseStudentSummaryResponse"}}}}}}},"/api/v1/teacher-students/{studentId}":{"get":{"tags":["Teacher Student API"],"summary":"\uc120\uc0dd\ub2d8 \ud559\uc0dd \uc0c1\uc138 \uc870\ud68c","operationId":"getTeacherStudentDetail","parameters":[{"name":"studentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataTeacherStudentDetailResponse"}}}}}}},"/api/v1/students/{studentId}/calendar":{"get":{"tags":["Student Calendar API"],"summary":"\ud559\uc0dd \uc6d4\uac04 \uce98\ub9b0\ub354 \uc870\ud68c","operationId":"getStudentCalendar","parameters":[{"name":"studentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"year","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"month","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataStudentCalendarResponse"}}}}}}},"/api/v1/students/me/courses":{"get":{"tags":["Student Course API"],"summary":"\ud559\uc0dd \uc218\uc5c5 \ubaa9\ub85d \uc870\ud68c","operationId":"getMyCourses","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPageResponseStudentMyCourseResponse"}}}}}}},"/api/v1/students/me/clinic-contexts":{"get":{"tags":["Student Clinic Context API"],"summary":"\ud559\uc0dd \ud074\ub9ac\ub2c9 \ucee8\ud14d\uc2a4\ud2b8 \uc870\ud68c","operationId":"getClinicContexts","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataListStudentClinicContextResponse"}}}}}}},"/api/v1/feedback/me":{"get":{"tags":["Feedback API"],"summary":"\ub0b4 \ud53c\ub4dc\ubc31 \ubaa9\ub85d \uc870\ud68c","description":"\uc791\uc131\uc790\uac00 \ubcf8\uc778 \ud53c\ub4dc\ubc31 \ubaa9\ub85d\uc744 \uc0c1\ud0dc\ub85c \ud544\ud130\ub9c1\ud574 \uc870\ud68c\ud55c\ub2e4.","operationId":"getMyFeedbacks","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPageResponseFeedbackResponse"}}}}}}},"/api/v1/courses/{courseId}/students":{"get":{"tags":["Course Assignment API"],"summary":"\ubc18 \uc218\uac15 \ud559\uc0dd \uc870\ud68c","operationId":"getCourseStudents","parameters":[{"name":"courseId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPageResponseCourseStudentResponse"}}}}}}},"/api/v1/courses/{courseId}/assignment-candidates":{"get":{"tags":["Course Assignment API"],"summary":"\ubc18 \ubc30\uce58 \ud6c4\ubcf4 \ud559\uc0dd \uc870\ud68c","operationId":"getAssignmentCandidates","parameters":[{"name":"courseId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"keyword","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPageResponseStudentSummaryResponse"}}}}}}},"/api/v1/courses/schedule":{"get":{"tags":["Course API (Teacher)"],"summary":"Course \uce98\ub9b0\ub354 \uc870\ud68c","description":"\uae30\uac04 \ub0b4 Course \uc2a4\ucf00\uc904 \ubaa9\ub85d\uc744 \uc870\ud68c\ud55c\ub2e4.","operationId":"getCourseSchedules","parameters":[{"name":"startDate","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"endDate","in":"query","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataListCourseResponse"}}}}}}},"/api/v1/courses/assignable":{"get":{"tags":["Course Assignment API"],"summary":"\ubc30\uce58 \uac00\ub2a5\ud55c \ubc18 \ubaa9\ub85d \uc870\ud68c","operationId":"getAssignableCourses","parameters":[{"name":"branchId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"keyword","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPageResponseCourseResponse"}}}}}}},"/api/v1/clinic-sessions":{"get":{"tags":["ClinicSession API"],"summary":"\ud074\ub9ac\ub2c9 \uc138\uc158 \uc870\ud68c","operationId":"getSessions","parameters":[{"name":"dateRange","in":"query","required":true,"schema":{"type":"string"}},{"name":"branchId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"teacherId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataListClinicSessionResponse"}}}}}}},"/api/v1/clinic-attendances":{"get":{"tags":["ClinicAttendance API"],"summary":"\ud074\ub9ac\ub2c9 \ucd9c\uc11d \uba85\ub2e8 \uc870\ud68c","operationId":"getAttendances","parameters":[{"name":"clinicSessionId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataListClinicAttendanceDetailResponse"}}}}}}},"/api/v1/auth/me":{"get":{"tags":["Auth API"],"summary":"\ud604\uc7ac \ub85c\uadf8\uc778\ud55c \uc0ac\uc6a9\uc790 \uc815\ubcf4 \uc870\ud68c","description":"Access \ud1a0\ud070 \uae30\uc900\uc73c\ub85c \ud604\uc7ac \uc0ac\uc6a9\uc790\uc758 \uc2dd\ubcc4\uc790/\uc5ed\ud560\uc744 \uc870\ud68c\ud55c\ub2e4.","operationId":"me","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataMeResponse"}}}}}}},"/api/v1/assistants/me/courses":{"get":{"tags":["Assistant Course API"],"summary":"\uc870\uad50 Course \ubaa9\ub85d \uc870\ud68c","operationId":"getCourses_1","parameters":[{"name":"teacherId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"keyword","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPageResponseCourseWithTeacherResponse"}}}}}}},"/api/v1/admin/courses":{"get":{"tags":["Admin Course API"],"summary":"\ubaa8\ub4e0 Course \uc870\ud68c","operationId":"getCourses_2","parameters":[{"name":"teacherId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"branchId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"companyId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"keyword","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPageResponseCourseResponse"}}}}}}},"/api/v1/admin/companies":{"get":{"tags":["Company API"],"summary":"SuperAdmin \ud559\uc6d0 \ubaa9\ub85d \uc870\ud68c","description":"SuperAdmin\uc774 \uc804\uccb4 \ud559\uc6d0 \ubaa9\ub85d\uc744 \uac80\uc99d \uc0c1\ud0dc\ub85c \ud544\ud130\ub9c1\ud574 \uc870\ud68c\ud55c\ub2e4.","operationId":"getCompaniesForAdmin","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"type","in":"query","required":false,"schema":{"type":"string"}},{"name":"keyword","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataPageResponseCompanyResponse"}}}}}}},"/api/v1/admin/companies/{companyId}":{"get":{"tags":["Company API"],"summary":"\ud559\uc6d0 \uc0c1\uc138 \uc870\ud68c","description":"SuperAdmin\uc774 \ud2b9\uc815 \ud559\uc6d0 \uc0c1\uc138 \uc815\ubcf4\ub97c \uc870\ud68c\ud55c\ub2e4.","operationId":"getCompanyDetail","parameters":[{"name":"companyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataCompanyResponse"}}}}}}},"/api/v1/students/me/clinic-attendances/{attendanceId}":{"delete":{"tags":["ClinicAttendance API"],"summary":"\ud559\uc0dd \ud074\ub9ac\ub2c9 \ucc38\uc11d \ucde8\uc18c","operationId":"cancelAttendance","parameters":[{"name":"attendanceId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataVoid"}}}}}}},"/api/v1/clinic-attendances/{attendanceId}":{"delete":{"tags":["ClinicAttendance API"],"summary":"\ud074\ub9ac\ub2c9 \ucd9c\uc11d \uc0ad\uc81c","operationId":"deleteAttendance","parameters":[{"name":"attendanceId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataVoid"}}}}}}},"/api/v1/admin/courses/{courseId}":{"delete":{"tags":["Admin Course API"],"summary":"Course \ud558\ub4dc \uc0ad\uc81c","operationId":"deleteCourse","parameters":[{"name":"courseId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RsDataVoid"}}}}}}}},"components":{"schemas":{"BranchInput":{"type":"object","properties":{"companyId":{"type":"string","format":"uuid"},"branchName":{"type":"string","minLength":1}},"required":["branchName","companyId"]},"CompanyInput":{"type":"object","properties":{"companyName":{"type":"string","minLength":1},"branchName":{"type":"string","minLength":1}},"required":["branchName","companyName"]},"IndividualInput":{"type":"object","properties":{"companyName":{"type":"string","minLength":1},"branchName":{"type":"string","minLength":1}},"required":["branchName","companyName"]},"TeacherBranchAssignmentCreateRequest":{"type":"object","properties":{"mode":{"type":"string","enum":["EXISTING_BRANCH","NEW_INDIVIDUAL","NEW_COMPANY","NEW_BRANCH"]},"branchId":{"type":"string","format":"uuid"},"role":{"type":"string","enum":["OWNER","FREELANCE"]},"individual":{"$ref":"#/components/schemas/IndividualInput"},"company":{"$ref":"#/components/schemas/CompanyInput"},"branch":{"$ref":"#/components/schemas/BranchInput"}},"required":["mode"]},"RsDataTeacherBranchAssignmentResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/TeacherBranchAssignmentResponse"}}},"TeacherBranchAssignmentResponse":{"type":"object","properties":{"assignmentId":{"type":"string","format":"uuid"},"branchId":{"type":"string","format":"uuid"},"branchName":{"type":"string"},"companyId":{"type":"string","format":"uuid"},"companyName":{"type":"string"},"companyType":{"type":"string","enum":["INDIVIDUAL","ACADEMY"]},"verifiedStatus":{"type":"string","enum":["UNVERIFIED","VERIFIED"]},"role":{"type":"string","enum":["OWNER","FREELANCE"]},"createdAt":{"type":"string","format":"date-time"},"deletedAt":{"type":"string","format":"date-time"}}},"AssistantAssignmentCreateRequest":{"type":"object","properties":{"assistantMemberId":{"type":"string","format":"uuid"}},"required":["assistantMemberId"]},"AssistantAssignmentResponse":{"type":"object","properties":{"assignmentId":{"type":"string","format":"uuid"},"assistant":{"$ref":"#/components/schemas/AssistantProfile"},"isActive":{"type":"boolean"},"assignedAt":{"type":"string","format":"date-time"},"disabledAt":{"type":"string","format":"date-time"}}},"AssistantProfile":{"type":"object","properties":{"memberId":{"type":"string","format":"uuid"},"name":{"type":"string"},"email":{"type":"string"},"phoneNumber":{"type":"string"}}},"RsDataAssistantAssignmentResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/AssistantAssignmentResponse"}}},"StudentTeacherRequestCreateRequest":{"type":"object","properties":{"teacherId":{"type":"string","format":"uuid"},"message":{"type":"string","maxLength":2000,"minLength":0}},"required":["teacherId"]},"RsDataStudentTeacherRequestResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/StudentTeacherRequestResponse"}}},"StudentSummaryResponse":{"type":"object","properties":{"memberId":{"type":"string","format":"uuid"},"name":{"type":"string"},"email":{"type":"string"},"phoneNumber":{"type":"string"},"schoolName":{"type":"string"},"grade":{"type":"string"},"birthDate":{"type":"string","format":"date"},"age":{"type":"integer","format":"int32"},"parentPhone":{"type":"string"}}},"StudentTeacherRequestResponse":{"type":"object","properties":{"requestId":{"type":"string","format":"uuid"},"teacher":{"$ref":"#/components/schemas/TeacherSearchResponse"},"student":{"$ref":"#/components/schemas/StudentSummaryResponse"},"status":{"type":"string","enum":["PENDING","APPROVED","REJECTED","CANCELLED"]},"message":{"type":"string"},"processedAt":{"type":"string","format":"date-time"},"processedByMemberId":{"type":"string","format":"uuid"},"createdAt":{"type":"string","format":"date-time"}}},"TeacherBranchSummary":{"type":"object","properties":{"companyId":{"type":"string","format":"uuid"},"companyName":{"type":"string"},"branchId":{"type":"string","format":"uuid"},"branchName":{"type":"string"}}},"TeacherSearchResponse":{"type":"object","properties":{"teacherId":{"type":"string","format":"uuid"},"teacherName":{"type":"string"},"branches":{"type":"array","items":{"$ref":"#/components/schemas/TeacherBranchSummary"}}}},"StudentClinicAttendanceRequest":{"type":"object","properties":{"clinicSessionId":{"type":"string","format":"uuid"},"courseId":{"type":"string","format":"uuid"}},"required":["clinicSessionId","courseId"]},"ClinicAttendanceResponse":{"type":"object","properties":{"attendanceId":{"type":"string","format":"uuid"},"clinicSessionId":{"type":"string","format":"uuid"},"studentCourseRecordId":{"type":"string","format":"uuid"}}},"RsDataClinicAttendanceResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/ClinicAttendanceResponse"}}},"PersonalProgressCreateRequest":{"type":"object","properties":{"date":{"type":"string","format":"date"},"title":{"type":"string","minLength":1},"content":{"type":"string","minLength":1}},"required":["content","date","title"]},"PersonalProgressResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"studentCourseRecordId":{"type":"string","format":"uuid"},"courseId":{"type":"string","format":"uuid"},"date":{"type":"string","format":"date"},"title":{"type":"string"},"content":{"type":"string"},"writerId":{"type":"string","format":"uuid"},"writerName":{"type":"string"},"writerRole":{"type":"string","enum":["TEACHER","ASSISTANT","STUDENT","ADMIN","SUPER_ADMIN"]},"createdAt":{"type":"string","format":"date-time"}}},"RsDataPersonalProgressResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PersonalProgressResponse"}}},"StudentCourseAssignmentCreateRequest":{"type":"object","properties":{"studentId":{"type":"string","format":"uuid"},"courseId":{"type":"string","format":"uuid"}},"required":["courseId","studentId"]},"RsDataStudentCourseAssignmentResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/StudentCourseAssignmentResponse"}}},"StudentCourseAssignmentResponse":{"type":"object","properties":{"assignmentId":{"type":"string","format":"uuid"},"studentId":{"type":"string","format":"uuid"},"courseId":{"type":"string","format":"uuid"},"assignedByMemberId":{"type":"string","format":"uuid"},"assignedAt":{"type":"string","format":"date-time"},"active":{"type":"boolean"}}},"RegisterMemberRequest":{"type":"object","properties":{"email":{"type":"string","format":"email","minLength":1},"password":{"type":"string","maxLength":64,"minLength":8,"pattern":"^(?=.*[A-Za-z])(?=.*\\d)(?=.*[!@#$%^&*()_+\\-={}:;\"'`~<>,.?/\\\\|\\[\\]]).{8,64}$"},"name":{"type":"string","maxLength":60,"minLength":0},"phoneNumber":{"type":"string","maxLength":13,"minLength":10,"pattern":"^[0-9\\-]+$"}},"required":["email","name","password","phoneNumber"]},"LoginResponse":{"type":"object","properties":{"memberId":{"type":"string","format":"uuid"},"accessToken":{"type":"string"},"accessTokenExpiresAt":{"type":"string","format":"date-time"}}},"RsDataLoginResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/LoginResponse"}}},"RegisterStudentRequest":{"type":"object","properties":{"email":{"type":"string","format":"email","minLength":1},"password":{"type":"string","maxLength":64,"minLength":8,"pattern":"^(?=.*[A-Za-z])(?=.*\\d)(?=.*[!@#$%^&*()_+\\-={}:;\"'`~<>,.?/\\\\|\\[\\]]).{8,64}$"},"name":{"type":"string","maxLength":60,"minLength":0},"phoneNumber":{"type":"string","maxLength":13,"minLength":10,"pattern":"^[0-9\\-]+$"},"schoolName":{"type":"string","maxLength":60,"minLength":0},"grade":{"type":"string","enum":["ELEMENTARY_1","ELEMENTARY_2","ELEMENTARY_3","ELEMENTARY_4","ELEMENTARY_5","ELEMENTARY_6","MIDDLE_1","MIDDLE_2","MIDDLE_3","HIGH_1","HIGH_2","HIGH_3","GAP_YEAR"]},"birthDate":{"type":"string","format":"date"},"parentPhone":{"type":"string","maxLength":13,"minLength":10,"pattern":"^[0-9\\-]+$"}},"required":["birthDate","email","grade","name","parentPhone","password","phoneNumber","schoolName"]},"FeedbackCreateRequest":{"type":"object","properties":{"content":{"type":"string","maxLength":2000,"minLength":0}},"required":["content"]},"FeedbackResponse":{"type":"object","properties":{"feedbackId":{"type":"string","format":"uuid"},"content":{"type":"string"},"status":{"type":"string","enum":["SUBMITTED","RESOLVED"]},"createdAt":{"type":"string","format":"date-time"},"resolvedAt":{"type":"string","format":"date-time"},"resolvedByMemberId":{"type":"string","format":"uuid"},"writer":{"$ref":"#/components/schemas/FeedbackWriterResponse"}}},"FeedbackWriterResponse":{"type":"object","properties":{"memberId":{"type":"string","format":"uuid"},"name":{"type":"string"},"email":{"type":"string"},"phoneNumber":{"type":"string"},"role":{"type":"string","enum":["TEACHER","ASSISTANT","STUDENT","ADMIN","SUPER_ADMIN"]}}},"RsDataFeedbackResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/FeedbackResponse"}}},"CourseCreateRequest":{"type":"object","properties":{"branchId":{"type":"string","format":"uuid"},"name":{"type":"string","minLength":1},"description":{"type":"string"},"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"},"schedules":{"type":"array","items":{"$ref":"#/components/schemas/CourseScheduleRequest"},"minItems":1}},"required":["branchId","endDate","name","schedules","startDate"]},"CourseScheduleRequest":{"type":"object","properties":{"dayOfWeek":{"type":"string","enum":["MONDAY","TUESDAY","WEDNESDAY","THURSDAY","FRIDAY","SATURDAY","SUNDAY"]},"startTime":{"type":"string"},"endTime":{"type":"string"}},"required":["dayOfWeek","endTime","startTime"]},"CourseResponse":{"type":"object","properties":{"courseId":{"type":"string","format":"uuid"},"branchId":{"type":"string","format":"uuid"},"branchName":{"type":"string"},"companyId":{"type":"string","format":"uuid"},"companyName":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"},"active":{"type":"boolean"},"schedules":{"type":"array","items":{"$ref":"#/components/schemas/CourseScheduleResponse"}}}},"CourseScheduleResponse":{"type":"object","properties":{"dayOfWeek":{"type":"string","enum":["MONDAY","TUESDAY","WEDNESDAY","THURSDAY","FRIDAY","SATURDAY","SUNDAY"]},"startTime":{"type":"string"},"endTime":{"type":"string"}}},"RsDataCourseResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/CourseResponse"}}},"CourseProgressCreateRequest":{"type":"object","properties":{"date":{"type":"string","format":"date"},"title":{"type":"string","minLength":1},"content":{"type":"string","minLength":1}},"required":["content","date","title"]},"CourseProgressResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"courseId":{"type":"string","format":"uuid"},"date":{"type":"string","format":"date"},"title":{"type":"string"},"content":{"type":"string"},"writerId":{"type":"string","format":"uuid"},"writerName":{"type":"string"},"writerRole":{"type":"string","enum":["TEACHER","ASSISTANT","STUDENT","ADMIN","SUPER_ADMIN"]},"createdAt":{"type":"string","format":"date-time"}}},"RsDataCourseProgressResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/CourseProgressResponse"}}},"CourseProgressComposeRequest":{"type":"object","properties":{"courseProgress":{"$ref":"#/components/schemas/CourseProgressCreateRequest"},"personalProgressList":{"type":"array","items":{"$ref":"#/components/schemas/PersonalProgressComposeRequest"}}},"required":["courseProgress","personalProgressList"]},"PersonalProgressComposeRequest":{"type":"object","properties":{"studentCourseRecordId":{"type":"string","format":"uuid"},"date":{"type":"string","format":"date"},"title":{"type":"string","minLength":1},"content":{"type":"string","minLength":1}},"required":["content","date","studentCourseRecordId","title"]},"CompanyCreateRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1},"description":{"type":"string"},"type":{"type":"string","enum":["INDIVIDUAL","ACADEMY"]},"branchName":{"type":"string"}},"required":["name","type"]},"CompanyResponse":{"type":"object","properties":{"companyId":{"type":"string","format":"uuid"},"name":{"type":"string"},"description":{"type":"string"},"type":{"type":"string","enum":["INDIVIDUAL","ACADEMY"]},"verifiedStatus":{"type":"string","enum":["UNVERIFIED","VERIFIED"]},"creatorMemberId":{"type":"string","format":"uuid"},"createdAt":{"type":"string","format":"date-time"},"deletedAt":{"type":"string","format":"date-time"}}},"RsDataCompanyResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/CompanyResponse"}}},"ClinicSlotCreateRequest":{"type":"object","properties":{"branchId":{"type":"string","format":"uuid"},"dayOfWeek":{"type":"string","enum":["MONDAY","TUESDAY","WEDNESDAY","THURSDAY","FRIDAY","SATURDAY","SUNDAY"]},"startTime":{"type":"string"},"endTime":{"type":"string"},"defaultCapacity":{"type":"integer","format":"int32","minimum":1}},"required":["branchId","dayOfWeek","defaultCapacity","endTime","startTime"]},"ClinicSlotResponse":{"type":"object","properties":{"slotId":{"type":"string","format":"uuid"},"teacherMemberId":{"type":"string","format":"uuid"},"creatorMemberId":{"type":"string","format":"uuid"},"branchId":{"type":"string","format":"uuid"},"dayOfWeek":{"type":"string","enum":["MONDAY","TUESDAY","WEDNESDAY","THURSDAY","FRIDAY","SATURDAY","SUNDAY"]},"startTime":{"type":"string"},"endTime":{"type":"string"},"defaultCapacity":{"type":"integer","format":"int32"},"defaultAssignedCount":{"type":"integer","format":"int64"}}},"RsDataClinicSlotResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/ClinicSlotResponse"}}},"ClinicSessionRegularCreateRequest":{"type":"object","properties":{"date":{"type":"string","format":"date"}},"required":["date"]},"ClinicSessionResponse":{"type":"object","properties":{"sessionId":{"type":"string","format":"uuid"},"slotId":{"type":"string","format":"uuid"},"teacherMemberId":{"type":"string","format":"uuid"},"branchId":{"type":"string","format":"uuid"},"sessionType":{"type":"string","enum":["REGULAR","EMERGENCY"]},"creatorMemberId":{"type":"string","format":"uuid"},"date":{"type":"string","format":"date"},"startTime":{"type":"string"},"endTime":{"type":"string"},"capacity":{"type":"integer","format":"int32"},"attendanceCount":{"type":"integer","format":"int32"},"isCanceled":{"type":"boolean"}}},"RsDataClinicSessionResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/ClinicSessionResponse"}}},"ClinicAttendanceCreateRequest":{"type":"object","properties":{"studentCourseRecordId":{"type":"string","format":"uuid"}},"required":["studentCourseRecordId"]},"ClinicSessionEmergencyCreateRequest":{"type":"object","properties":{"branchId":{"type":"string","format":"uuid"},"teacherId":{"type":"string","format":"uuid"},"date":{"type":"string","format":"date"},"startTime":{"type":"string"},"endTime":{"type":"string"},"capacity":{"type":"integer","format":"int32","minimum":1}},"required":["branchId","capacity","date","endTime","startTime"]},"ClinicRecordCreateRequest":{"type":"object","properties":{"clinicAttendanceId":{"type":"string","format":"uuid"},"title":{"type":"string","minLength":1},"content":{"type":"string","minLength":1},"homeworkProgress":{"type":"string"}},"required":["clinicAttendanceId","content","title"]},"ClinicRecordResponse":{"type":"object","properties":{"recordId":{"type":"string","format":"uuid"},"clinicAttendanceId":{"type":"string","format":"uuid"},"writerId":{"type":"string","format":"uuid"},"title":{"type":"string"},"content":{"type":"string"},"homeworkProgress":{"type":"string"}}},"RsDataClinicRecordResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/ClinicRecordResponse"}}},"BranchCreateRequest":{"type":"object","properties":{"companyId":{"type":"string","format":"uuid"},"name":{"type":"string","minLength":1}},"required":["companyId","name"]},"BranchResponse":{"type":"object","properties":{"branchId":{"type":"string","format":"uuid"},"companyId":{"type":"string","format":"uuid"},"companyName":{"type":"string"},"name":{"type":"string"},"verifiedStatus":{"type":"string","enum":["UNVERIFIED","VERIFIED"]},"creatorMemberId":{"type":"string","format":"uuid"},"createdAt":{"type":"string","format":"date-time"},"deletedAt":{"type":"string","format":"date-time"}}},"RsDataBranchResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/BranchResponse"}}},"LogoutRequest":{"type":"object","properties":{"refreshToken":{"type":"string"},"logoutAll":{"type":"boolean"}}},"RsDataVoid":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{}}},"LoginRequest":{"type":"object","properties":{"email":{"type":"string","format":"email","minLength":1},"password":{"type":"string","minLength":1}},"required":["email","password"]},"TeacherBranchAssignmentStatusUpdateRequest":{"type":"object","properties":{"enabled":{"type":"boolean"}},"required":["enabled"]},"AssistantAssignmentStatusUpdateRequest":{"type":"object","properties":{"enabled":{"type":"boolean"}},"required":["enabled"]},"StudentDefaultClinicSlotRequest":{"type":"object","properties":{"defaultClinicSlotId":{"type":"string","format":"uuid"}},"required":["defaultClinicSlotId"]},"RsDataStudentDefaultClinicSlotResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/StudentDefaultClinicSlotResponse"}}},"StudentDefaultClinicSlotResponse":{"type":"object","properties":{"studentCourseRecordId":{"type":"string","format":"uuid"},"defaultClinicSlotId":{"type":"string","format":"uuid"}}},"ClinicAttendanceMoveRequest":{"type":"object","properties":{"fromSessionId":{"type":"string","format":"uuid"},"toSessionId":{"type":"string","format":"uuid"}},"required":["fromSessionId","toSessionId"]},"StudentCourseRecordUpdateRequest":{"type":"object","properties":{"assistantMemberId":{"type":"string","format":"uuid"},"defaultClinicSlotId":{"type":"string","format":"uuid"},"teacherNotes":{"type":"string"}}},"RsDataStudentCourseDetailResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/StudentCourseDetailResponse"}}},"StudentCourseDetailResponse":{"type":"object","properties":{"recordId":{"type":"string","format":"uuid"},"student":{"$ref":"#/components/schemas/StudentSummaryResponse"},"course":{"$ref":"#/components/schemas/CourseResponse"},"assistantMemberId":{"type":"string","format":"uuid"},"defaultClinicSlotId":{"type":"string","format":"uuid"},"teacherNotes":{"type":"string"},"active":{"type":"boolean"}}},"PersonalProgressUpdateRequest":{"type":"object","properties":{"date":{"type":"string","format":"date"},"title":{"type":"string","maxLength":200,"minLength":0},"content":{"type":"string"}}},"CourseUpdateRequest":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"},"schedules":{"type":"array","items":{"$ref":"#/components/schemas/CourseScheduleRequest"}}}},"CourseStatusUpdateRequest":{"type":"object","properties":{"enabled":{"type":"boolean"}},"required":["enabled"]},"CourseProgressUpdateRequest":{"type":"object","properties":{"date":{"type":"string","format":"date"},"title":{"type":"string","maxLength":200,"minLength":0},"content":{"type":"string"}}},"ClinicSlotUpdateRequest":{"type":"object","properties":{"dayOfWeek":{"type":"string","enum":["MONDAY","TUESDAY","WEDNESDAY","THURSDAY","FRIDAY","SATURDAY","SUNDAY"]},"startTime":{"type":"string"},"endTime":{"type":"string"},"defaultCapacity":{"type":"integer","format":"int32","minimum":1}},"required":["dayOfWeek","defaultCapacity","endTime","startTime"]},"ClinicRecordUpdateRequest":{"type":"object","properties":{"title":{"type":"string","maxLength":200,"minLength":0},"content":{"type":"string"},"homeworkProgress":{"type":"string"}}},"BranchUpdateRequest":{"type":"object","properties":{"name":{"type":"string"},"enabled":{"type":"boolean"}}},"BranchVerifiedStatusRequest":{"type":"object","properties":{"verified":{"type":"boolean"},"enabled":{"type":"boolean"}},"required":["verified"]},"CompanyVerifiedStatusRequest":{"type":"object","properties":{"verified":{"type":"boolean"},"enabled":{"type":"boolean"}},"required":["verified"]},"PageResponseTeacherSearchResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/TeacherSearchResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}},"RsDataPageResponseTeacherSearchResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageResponseTeacherSearchResponse"}}},"PageResponseTeacherBranchAssignmentResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/TeacherBranchAssignmentResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}},"RsDataPageResponseTeacherBranchAssignmentResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageResponseTeacherBranchAssignmentResponse"}}},"PageResponseAssistantAssignmentResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/AssistantAssignmentResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}},"RsDataPageResponseAssistantAssignmentResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageResponseAssistantAssignmentResponse"}}},"AssistantSearchResponse":{"type":"object","properties":{"assistantMemberId":{"type":"string","format":"uuid"},"name":{"type":"string"},"email":{"type":"string"},"phoneNumber":{"type":"string"},"assignmentStatus":{"type":"string","enum":["NOT_ASSIGNED","ACTIVE","INACTIVE"]},"assignmentId":{"type":"string","format":"uuid"},"connectedAt":{"type":"string","format":"date-time"},"disabledAt":{"type":"string","format":"date-time"}}},"RsDataListAssistantSearchResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/AssistantSearchResponse"}}}},"PageResponseStudentSummaryResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/StudentSummaryResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}},"RsDataPageResponseStudentSummaryResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageResponseStudentSummaryResponse"}}},"RsDataTeacherStudentDetailResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/TeacherStudentDetailResponse"}}},"TeacherStudentCourseResponse":{"type":"object","properties":{"courseId":{"type":"string","format":"uuid"},"name":{"type":"string"},"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"},"active":{"type":"boolean"},"assignmentId":{"type":"string","format":"uuid"},"assignmentActive":{"type":"boolean"},"recordId":{"type":"string","format":"uuid"}}},"TeacherStudentDetailResponse":{"type":"object","properties":{"student":{"$ref":"#/components/schemas/StudentSummaryResponse"},"courses":{"type":"array","items":{"$ref":"#/components/schemas/TeacherStudentCourseResponse"}}}},"PageResponseStudentTeacherRequestResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/StudentTeacherRequestResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}},"RsDataPageResponseStudentTeacherRequestResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageResponseStudentTeacherRequestResponse"}}},"ClinicEvent":{"type":"object","properties":{"clinicSessionId":{"type":"string","format":"uuid"},"clinicAttendanceId":{"type":"string","format":"uuid"},"courseId":{"type":"string","format":"uuid"},"slotId":{"type":"string","format":"uuid"},"date":{"type":"string","format":"date"},"startTime":{"type":"string"},"endTime":{"type":"string"},"canceled":{"type":"boolean"},"recordSummary":{"$ref":"#/components/schemas/ClinicRecordSummary"}}},"ClinicRecordSummary":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"title":{"type":"string"},"content":{"type":"string"},"homeworkProgress":{"type":"string"},"writerRole":{"type":"string","enum":["TEACHER","ASSISTANT","STUDENT","ADMIN","SUPER_ADMIN"]},"writerName":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"CourseProgressEvent":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"courseId":{"type":"string","format":"uuid"},"courseName":{"type":"string"},"date":{"type":"string","format":"date"},"title":{"type":"string"},"content":{"type":"string"},"writerId":{"type":"string","format":"uuid"},"writerRole":{"type":"string","enum":["TEACHER","ASSISTANT","STUDENT","ADMIN","SUPER_ADMIN"]},"writerName":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"PersonalProgressEvent":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"studentCourseRecordId":{"type":"string","format":"uuid"},"courseId":{"type":"string","format":"uuid"},"courseName":{"type":"string"},"date":{"type":"string","format":"date"},"title":{"type":"string"},"content":{"type":"string"},"writerRole":{"type":"string","enum":["TEACHER","ASSISTANT","STUDENT","ADMIN","SUPER_ADMIN"]},"writerName":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"RsDataStudentCalendarResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/StudentCalendarResponse"}}},"StudentCalendarResponse":{"type":"object","properties":{"studentId":{"type":"string","format":"uuid"},"year":{"type":"integer","format":"int32"},"month":{"type":"integer","format":"int32"},"courseProgress":{"type":"array","items":{"$ref":"#/components/schemas/CourseProgressEvent"}},"personalProgress":{"type":"array","items":{"$ref":"#/components/schemas/PersonalProgressEvent"}},"clinicEvents":{"type":"array","items":{"$ref":"#/components/schemas/ClinicEvent"}}}},"PageResponseStudentMyCourseResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/StudentMyCourseResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}},"RsDataPageResponseStudentMyCourseResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageResponseStudentMyCourseResponse"}}},"StudentMyCourseResponse":{"type":"object","properties":{"assignmentId":{"type":"string","format":"uuid"},"assignedAt":{"type":"string","format":"date-time"},"assignmentActive":{"type":"boolean"},"recordId":{"type":"string","format":"uuid"},"course":{"$ref":"#/components/schemas/CourseResponse"}}},"RsDataListStudentClinicContextResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/StudentClinicContextResponse"}}}},"StudentClinicContextResponse":{"type":"object","properties":{"courseId":{"type":"string","format":"uuid"},"courseName":{"type":"string"},"recordId":{"type":"string","format":"uuid"},"defaultClinicSlotId":{"type":"string","format":"uuid"},"teacherId":{"type":"string","format":"uuid"},"teacherName":{"type":"string"},"branchId":{"type":"string","format":"uuid"},"branchName":{"type":"string"},"companyId":{"type":"string","format":"uuid"},"companyName":{"type":"string"}}},"RsDataStudentClinicAttendanceListResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/StudentClinicAttendanceListResponse"}}},"StudentClinicAttendanceListResponse":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/StudentClinicAttendanceResponse"}}}},"StudentClinicAttendanceResponse":{"type":"object","properties":{"attendanceId":{"type":"string","format":"uuid"},"clinicSessionId":{"type":"string","format":"uuid"},"teacherId":{"type":"string","format":"uuid"},"branchId":{"type":"string","format":"uuid"},"date":{"type":"string","format":"date"},"startTime":{"type":"string"},"endTime":{"type":"string"},"sessionType":{"type":"string","enum":["REGULAR","EMERGENCY"]},"isCanceled":{"type":"boolean"}}},"ProgressCursor":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"createdAt":{"type":"string","format":"date-time"}}},"ProgressSliceResponsePersonalProgressResponse":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/PersonalProgressResponse"}},"nextCursor":{"$ref":"#/components/schemas/ProgressCursor"}}},"RsDataProgressSliceResponsePersonalProgressResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/ProgressSliceResponsePersonalProgressResponse"}}},"PageResponseFeedbackResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/FeedbackResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}},"RsDataPageResponseFeedbackResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageResponseFeedbackResponse"}}},"PageResponseCourseResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/CourseResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}},"RsDataPageResponseCourseResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageResponseCourseResponse"}}},"CourseStudentResponse":{"type":"object","properties":{"recordId":{"type":"string","format":"uuid"},"assignmentActive":{"type":"boolean"},"student":{"$ref":"#/components/schemas/StudentSummaryResponse"}}},"PageResponseCourseStudentResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/CourseStudentResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}},"RsDataPageResponseCourseStudentResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageResponseCourseStudentResponse"}}},"ProgressSliceResponseCourseProgressResponse":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/CourseProgressResponse"}},"nextCursor":{"$ref":"#/components/schemas/ProgressCursor"}}},"RsDataProgressSliceResponseCourseProgressResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/ProgressSliceResponseCourseProgressResponse"}}},"RsDataListCourseResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/CourseResponse"}}}},"PageResponseCompanyResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/CompanyResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}},"RsDataPageResponseCompanyResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageResponseCompanyResponse"}}},"RsDataListClinicSlotResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/ClinicSlotResponse"}}}},"RsDataListClinicSessionResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/ClinicSessionResponse"}}}},"ClinicAttendanceDetailResponse":{"type":"object","properties":{"attendanceId":{"type":"string","format":"uuid"},"recordId":{"type":"string","format":"uuid"},"studentCourseRecordId":{"type":"string","format":"uuid"},"studentMemberId":{"type":"string","format":"uuid"},"studentName":{"type":"string"},"phoneNumber":{"type":"string"},"schoolName":{"type":"string"},"grade":{"type":"string"},"parentPhoneNumber":{"type":"string"},"age":{"type":"integer","format":"int32"}}},"RsDataListClinicAttendanceDetailResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/ClinicAttendanceDetailResponse"}}}},"PageResponseBranchResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/BranchResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}},"RsDataPageResponseBranchResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageResponseBranchResponse"}}},"MeResponse":{"type":"object","properties":{"memberId":{"type":"string","format":"uuid"},"email":{"type":"string"},"name":{"type":"string"},"role":{"type":"string","enum":["TEACHER","ASSISTANT","STUDENT","ADMIN","SUPER_ADMIN"]}}},"RsDataMeResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/MeResponse"}}},"CourseWithTeacherResponse":{"type":"object","properties":{"courseId":{"type":"string","format":"uuid"},"branchId":{"type":"string","format":"uuid"},"branchName":{"type":"string"},"companyId":{"type":"string","format":"uuid"},"companyName":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"},"active":{"type":"boolean"},"schedules":{"type":"array","items":{"$ref":"#/components/schemas/CourseScheduleResponse"}},"teacherId":{"type":"string","format":"uuid"},"teacherName":{"type":"string"}}},"PageResponseCourseWithTeacherResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/CourseWithTeacherResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}},"RsDataPageResponseCourseWithTeacherResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageResponseCourseWithTeacherResponse"}}}},"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}}}