spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:classhub;MODE=MYSQL;DB_CLOSE_DELAY=-1
    username: sa
    password:
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100
        jdbc:
          time_zone: Asia/Seoul
  sql:
    init:
      mode: never
logging:
  level:
    org.hibernate.SQL: DEBUG
