spring:
  application:
    name: classhub-backend
  profiles:
    default: ${SPRING_PROFILES_ACTIVE}
  config:
    import: optional:file:.env[.properties]

server:
  shutdown: graceful

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: when-authorized
      probes:
        enabled: true

logging:
  level:
    root: INFO

custom:
  jwt:
    issuer: classhub
    secret-key: ${JWT_SECRET_KEY:change-me}
    access-token-expiration-millis: ${JWT_ACCESS_TOKEN_EXP:3600000} # 1 hour
    refresh-token-expiration-millis: ${JWT_REFRESH_TOKEN_EXP:1209600000} # 14 days
