spring:
  application:
    name: classhub-backend
  profiles:
    default: local
  config:
    import: optional:file:.env[.properties]

server:
  shutdown: graceful

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: when-authorized
      probes:
        enabled: true

logging:
  level:
    root: INFO
